.screen {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1920px;
}

.screen .div {
    background-color: #e5e5e5;
    overflow: hidden;
    width: 1920px;
    height: 2686px;
    position: relative;
}

.screen .view {
    width: 1920px;
    height: 80px;
    top: 0;
    position: absolute;
    left: 0;
}

.screen .navbar {
    position: relative;
    width: 1920px;
    height: 80px;
    background-color: #363636;
}

.screen .gerb {
    position: absolute;
    width: 57px;
    height: 58px;
    top: 11px;
    left: 114px;
    object-fit: cover;
}

.screen .text-wrapper {
    left: 623px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-2 {
    left: 728px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-3 {
    left: 831px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-4 {
    left: 983px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-5 {
    left: 1097px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-6 {
    left: 1227px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.screen .section {
    position: absolute;
    width: 1920px;
    height: 365px;
    top: 80px;
    left: 0;
}

.screen .overlap {
    position: relative;
    height: 365px;
}

.screen .background {
    position: absolute;
    width: 1920px;
    height: 365px;
    top: 0;
    left: 0;
    background-image: url(./img/background.svg);
    background-size: cover;
    background-position: 50% 50%;
}

.screen .background-2 {
    height: 365px;
    background-color: #26a4d1b2;
    opacity: 0.8;
}

.screen .container {
    position: absolute;
    width: 1480px;
    height: 1px;
    top: 120px;
    left: 220px;
}

.screen .heading-about-us {
    position: absolute;
    width: 479px;
    height: 82px;
    top: -1px;
    left: 501px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 68px;
    text-align: center;
    letter-spacing: -2.38px;
    line-height: 81.6px;
    white-space: nowrap;
}

.screen .link-home {
    position: absolute;
    width: 78px;
    height: 24px;
    top: 100px;
    left: 619px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 23.8px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .vertical-divider {
    position: absolute;
    width: 1px;
    height: 14px;
    top: 107px;
    left: 709px;
    background-color: #ffffff;
    transform: rotate(20deg);
    opacity: 0.5;
}

.screen .text-wrapper-7 {
    position: absolute;
    width: 105px;
    height: 24px;
    top: 100px;
    left: 722px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 23.8px;
    white-space: nowrap;
}

.screen .element {
    position: absolute;
    width: 220px;
    height: 17px;
    top: 555px;
    left: 995px;
}

.screen .horizontal-divider {
    position: absolute;
    width: 50px;
    height: 1px;
    top: 8px;
    left: 0;
    background-color: #14452f;
}

.screen .text-wrapper-8 {
    position: absolute;
    width: 153px;
    height: 17px;
    top: 0;
    left: 65px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.screen .heading {
    position: absolute;
    width: 436px;
    height: 132px;
    top: 592px;
    left: 995px;
}

.screen .text-wrapper-9 {
    position: absolute;
    width: 441px;
    height: 132px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 55px;
    letter-spacing: -1.92px;
    line-height: 66px;
}

.screen .p {
    position: absolute;
    width: 633px;
    height: 81px;
    top: 737px;
    left: 995px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.screen .group-section {
    position: absolute;
    width: 664px;
    height: 458px;
    top: 555px;
    left: 245px;
    background-color: #d0125a;
    border-radius: 7px;
    overflow: hidden;
}

.screen .image {
    width: 664px;
    height: 458px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.screen .restaurant {
    position: absolute;
    width: 36px;
    height: 47px;
    top: 965px;
    left: 998px;
}

.screen .overlap-group {
    position: absolute;
    width: 249px;
    height: 50px;
    top: 964px;
    left: 1051px;
}

.screen .heading-link {
    position: absolute;
    width: 237px;
    height: 22px;
    top: 12px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .categorey-icon-svg {
    width: 40px;
    top: 0;
    left: 209px;
    position: absolute;
    height: 50px;
}

.screen .img {
    width: 50px;
    top: 1028px;
    left: 991px;
    position: absolute;
    height: 50px;
}

.screen .heading-link-2 {
    position: absolute;
    width: 383px;
    height: 48px;
    top: 1028px;
    left: 1051px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    cursor: pointer;
}

.screen .categorey-icon-svg-2 {
    width: 50px;
    top: 839px;
    left: 991px;
    position: absolute;
    height: 50px;
}

.screen .overlap-2 {
    position: absolute;
    width: 617px;
    height: 38px;
    top: 846px;
    left: 1051px;
}

.screen .heading-link-3 {
    position: absolute;
    width: 294px;
    height: 22px;
    top: 6px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 16px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .frame {
    position: absolute;
    width: 47px;
    height: 38px;
    top: 0;
    left: 209px;
}

.screen .heading-link-4 {
    position: absolute;
    width: 350px;
    height: 22px;
    top: 7px;
    left: 267px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 16px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .categorey-icon-svg-3 {
    width: 50px;
    top: 898px;
    left: 991px;
    position: absolute;
    height: 50px;
}

.screen .heading-link-5 {
    width: 138px;
    height: 22px;
    top: 913px;
    left: 1051px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
    position: absolute;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 16px;
    cursor: pointer;
}

.screen .frame-2 {
    position: absolute;
    width: 1920px;
    height: 643px;
    top: 1172px;
    left: 0;
    background-color: #27b469;
}

.screen .link-new-blog-JPG {
    position: absolute;
    width: 445px;
    height: 255px;
    top: 122px;
    left: 245px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 30px 30px #22281e12;
    background-image: url(./img/link-new-blog-3-JPG-webp-3.png);
    background-size: cover;
    background-position: 50% 50%;
}

.screen .image-2 {
    width: 445px;
    height: 255px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.screen .div-wrapper {
    position: absolute;
    width: 445px;
    height: 72px;
    top: 401px;
    left: 245px;
}

.screen .text-wrapper-10 {
    position: absolute;
    width: 387px;
    height: 72px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.screen .text-wrapper-11 {
    position: absolute;
    width: 404px;
    height: 54px;
    top: 487px;
    left: 245px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.screen .image-wrapper {
    left: 1230px;
    position: absolute;
    width: 445px;
    height: 255px;
    top: 122px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 30px 30px #22281e12;
    background-image: url(./img/link-new-blog-3-JPG-webp-2.png);
    background-size: cover;
    background-position: 50% 50%;
}

.screen .heading-link-6 {
    left: 1230px;
    position: absolute;
    width: 445px;
    height: 72px;
    top: 401px;
}

.screen .text-wrapper-12 {
    position: absolute;
    width: 430px;
    height: 72px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.screen .text-wrapper-13 {
    position: absolute;
    width: 403px;
    height: 75px;
    top: 487px;
    left: 1230px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.screen .img-wrapper {
    left: 738px;
    position: absolute;
    width: 445px;
    height: 255px;
    top: 122px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 30px 30px #22281e12;
    background-image: url(./img/link-new-blog-3-JPG-webp.png);
    background-size: cover;
    background-position: 50% 50%;
}

.screen .heading-link-7 {
    left: 738px;
    position: absolute;
    width: 445px;
    height: 72px;
    top: 401px;
}

.screen .text-wrapper-14 {
    position: absolute;
    width: 403px;
    height: 75px;
    top: 487px;
    left: 738px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.screen .horizontal-divider-2 {
    top: 59px;
    left: 841px;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.screen .text-wrapper-15 {
    position: absolute;
    width: 124px;
    height: 17px;
    top: 49px;
    left: 898px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.screen .horizontal-divider-3 {
    top: 59px;
    left: 1029px;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.screen .heading-link-8 {
    width: 1010px;
    height: 43px;
    top: 967px;
    left: 1315px;
    letter-spacing: -0.18px;
    line-height: 24px;
    position: absolute;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 16px;
    cursor: pointer;
}

.screen .heading-link-9 {
    width: 455px;
    height: 22px;
    top: 912px;
    left: 1320px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
    position: absolute;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 16px;
    cursor: pointer;
}

.screen .categorey-icon-svg-4 {
    width: 50px;
    top: 899px;
    left: 1260px;
    position: absolute;
    height: 50px;
}

.screen .horizontal-divider-4 {
    top: 1900px;
    left: 410px;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.screen .text-wrapper-16 {
    position: absolute;
    width: 124px;
    height: 17px;
    top: 1890px;
    left: 467px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.screen .horizontal-divider-5 {
    top: 1900px;
    left: 598px;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.screen .text-wrapper-17 {
    position: absolute;
    width: 290px;
    top: 2067px;
    left: 247px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
}

.screen .overlap-3 {
    position: absolute;
    width: 278px;
    height: 54px;
    top: 2012px;
    left: 592px;
}

.screen .text-wrapper-18 {
    position: absolute;
    width: 250px;
    top: 0;
    left: 0;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
    white-space: nowrap;
}

.screen .text-wrapper-19 {
    position: absolute;
    width: 278px;
    top: 27px;
    left: 0;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
    white-space: nowrap;
}

.screen .text-wrapper-20 {
    position: absolute;
    width: 264px;
    top: 1983px;
    left: 592px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
    white-space: nowrap;
}

.screen .text-wrapper-21 {
    position: absolute;
    width: 185px;
    top: 1956px;
    left: 592px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
    white-space: nowrap;
}

.screen .text-wrapper-22 {
    position: absolute;
    width: 301px;
    top: 2039px;
    left: 247px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
    white-space: nowrap;
}

.screen .text-wrapper-23 {
    position: absolute;
    width: 177px;
    top: 2012px;
    left: 247px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
    white-space: nowrap;
}

.screen .text-wrapper-24 {
    position: absolute;
    width: 182px;
    top: 1983px;
    left: 247px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
    white-space: nowrap;
}

.screen .text-wrapper-25 {
    position: absolute;
    width: 180px;
    top: 1956px;
    left: 247px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
    white-space: nowrap;
}

.screen .horizontal-divider-6 {
    top: 1899px;
    left: 986px;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.screen .text-wrapper-26 {
    position: absolute;
    width: 150px;
    height: 17px;
    top: 1890px;
    left: 1043px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.screen .horizontal-divider-7 {
    top: 1899px;
    left: 1200px;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.screen .text-wrapper-27 {
    position: absolute;
    width: 251px;
    top: 1999px;
    left: 970px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
    white-space: nowrap;
}

.screen .text-wrapper-28 {
    position: absolute;
    width: 280px;
    top: 1977px;
    left: 970px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
    white-space: nowrap;
}

.screen .text-wrapper-29 {
    position: absolute;
    width: 316px;
    top: 1956px;
    left: 970px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
    white-space: nowrap;
}

.screen .horizontal-divider-8 {
    top: 1899px;
    left: 1422px;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.screen .text-wrapper-30 {
    position: absolute;
    width: 124px;
    height: 17px;
    top: 1890px;
    left: 1479px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.screen .horizontal-divider-9 {
    top: 1899px;
    left: 1610px;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.screen .overlap-4 {
    position: absolute;
    width: 278px;
    height: 149px;
    top: 1956px;
    left: 1405px;
}

.screen .text-wrapper-31 {
    position: absolute;
    width: 278px;
    top: 120px;
    left: 0;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
}

.screen .text-wrapper-32 {
    position: absolute;
    width: 278px;
    top: 96px;
    left: 0;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
}

.screen .text-wrapper-33 {
    position: absolute;
    width: 278px;
    top: 72px;
    left: 0;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
}

.screen .text-wrapper-34 {
    position: absolute;
    width: 278px;
    top: 48px;
    left: 0;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
}

.screen .text-wrapper-35 {
    position: absolute;
    width: 278px;
    top: 24px;
    left: 0;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
}

.screen .text-wrapper-36 {
    position: absolute;
    width: 278px;
    top: 0;
    left: 0;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #1e1e1e;
    font-size: 19px;
    letter-spacing: -0.21px;
    line-height: 28.5px;
}

.screen .view-2 {
    width: 1920px;
    height: 468px;
    top: 2218px;
    background-color: #363636;
    position: absolute;
    left: 0;
}

.screen .text-wrapper-37 {
    position: absolute;
    top: 45px;
    left: 535px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .text-wrapper-38 {
    position: absolute;
    top: 40px;
    left: 1115px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: -0.35px;
    line-height: 48px;
    white-space: nowrap;
}

.screen .text-wrapper-39 {
    position: absolute;
    top: 104px;
    left: 1115px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-40 {
    position: absolute;
    top: 133px;
    left: 1115px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-41 {
    position: absolute;
    top: 191px;
    left: 1115px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-42 {
    position: absolute;
    top: 220px;
    left: 1115px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-43 {
    position: absolute;
    top: 162px;
    left: 1115px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-44 {
    position: absolute;
    top: 45px;
    left: 1469px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: -0.35px;
    line-height: 48px;
    white-space: nowrap;
}

.screen .gerb-new {
    position: absolute;
    width: 125px;
    height: 127px;
    top: 46px;
    left: 245px;
    object-fit: cover;
}

.screen .text-wrapper-45 {
    width: 27px;
    top: 166px;
    left: 535px;
    position: absolute;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .text-wrapper-46 {
    width: 31px;
    top: 137px;
    left: 535px;
    position: absolute;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .text-wrapper-47 {
    width: 27px;
    top: 224px;
    left: 535px;
    position: absolute;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .text-wrapper-48 {
    width: 31px;
    top: 108px;
    left: 535px;
    position: absolute;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .overlap-5 {
    position: absolute;
    width: 228px;
    height: 30px;
    top: 299px;
    left: 535px;
}

.screen .text-wrapper-49 {
    width: 184px;
    top: 7px;
    left: 0;
    position: absolute;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .text-wrapper-50 {
    position: absolute;
    width: 173px;
    top: 0;
    left: 55px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-51 {
    width: 29px;
    top: 253px;
    left: 535px;
    position: absolute;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .text-wrapper-52 {
    width: 30px;
    top: 195px;
    left: 535px;
    position: absolute;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .text-wrapper-53 {
    position: absolute;
    top: 159px;
    left: 590px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-54 {
    position: absolute;
    top: 130px;
    left: 590px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-55 {
    position: absolute;
    top: 217px;
    left: 590px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-56 {
    position: absolute;
    top: 101px;
    left: 590px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-57 {
    position: absolute;
    top: 181px;
    left: 245px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
}

.screen .text-wrapper-58 {
    position: absolute;
    top: 246px;
    left: 591px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    cursor: pointer;
}

.screen .text-wrapper-59 {
    position: absolute;
    top: 188px;
    left: 590px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .image-3 {
    width: 182px;
    height: 135px;
    top: 95px;
    left: 1688px;
    position: absolute;
    object-fit: cover;
}

.screen .image-4 {
    width: 182px;
    height: 135px;
    top: 242px;
    left: 1688px;
    position: absolute;
    object-fit: cover;
}

.screen .element-2 {
    position: absolute;
    width: 174px;
    height: 65px;
    top: 104px;
    left: 1514px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
}

.screen .symbol {
    width: 18px;
    top: 125px;
    position: absolute;
    height: 24px;
    left: 1470px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.screen .text-wrapper-60 {
    width: 139px;
    top: 197px;
    position: absolute;
    height: 32px;
    left: 1513px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.screen .symbol-2 {
    width: 24px;
    top: 202px;
    position: absolute;
    height: 24px;
    left: 1470px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.screen .element-3 {
    position: absolute;
    width: 175px;
    height: 82px;
    top: 252px;
    left: 1513px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
}

.screen .symbol-3 {
    width: 19px;
    top: 285px;
    position: absolute;
    height: 24px;
    left: 1470px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.screen .text-wrapper-61 {
    width: 146px;
    top: 344px;
    position: absolute;
    height: 32px;
    left: 1513px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.screen .symbol-4 {
    width: 24px;
    top: 349px;
    position: absolute;
    height: 24px;
    left: 1470px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.screen .overlap-6 {
    position: absolute;
    width: 1920px;
    height: 25px;
    top: 442px;
    left: 0;
}

.screen .text-wrapper-62 {
    position: absolute;
    width: 202px;
    height: 25px;
    top: 0;
    left: 1469px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.screen .element-4 {
    position: absolute;
    width: 237px;
    height: 24px;
    top: 1px;
    left: 245px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff99;
    font-size: 15px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.screen .span {
    letter-spacing: -0.13px;
}

.screen .line {
    position: absolute;
    width: 1920px;
    height: 2px;
    top: 0;
    left: 0;
    object-fit: cover;
}
