.blog {
    position: relative;
    width: 1920px;
    height: 3405px;
    background-color: #e5e5e5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blog .heder {
    position: absolute;
    width: 1920px;
    height: 80px;
    top: 0;
    left: 0;
}

.blog .navbar {
    position: relative;
    width: 1920px;
    height: 80px;
    background-color: #363636;
}

.blog .gerb {
    position: absolute;
    width: 57px;
    height: 58px;
    top: 11px;
    left: 114px;
    object-fit: cover;
}

.blog .text-wrapper {
    left: 623px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.blog .div {
    left: 728px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.blog .text-wrapper-2 {
    left: 831px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.blog .text-wrapper-3 {
    left: 983px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.blog .text-wrapper-4 {
    left: 1097px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.blog .text-wrapper-5 {
    left: 1227px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.blog .group {
    position: absolute;
    width: 1920px;
    height: 366px;
    top: 80px;
    left: 0;
}

.blog .overlap {
    position: relative;
    height: 366px;
}

.blog .rectangle-wrapper {
    position: absolute;
    width: 1920px;
    height: 366px;
    top: 0;
    left: 0;
    background-image: url(./img/image-68.png);
    background-size: cover;
    background-position: 50% 50%;
}

.blog .rectangle {
    height: 365px;
    background-color: #26a4d1b2;
    opacity: 0.8;
}

.blog .baner {
    position: absolute;
    width: 1920px;
    height: 365px;
    top: 0;
    left: 0;
}

.blog .container {
    position: relative;
    width: 1480px;
    height: 1px;
    top: 120px;
    left: 220px;
}

.blog .heading-blog-right {
    position: absolute;
    width: 562px;
    height: 82px;
    top: -2px;
    left: 459px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 68px;
    text-align: center;
    letter-spacing: -2.38px;
    line-height: 81.6px;
    white-space: nowrap;
}

.blog .text-wrapper-6 {
    position: absolute;
    width: 78px;
    height: 24px;
    top: 100px;
    left: 660px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 23.8px;
    white-space: nowrap;
}

.blog .vertical-divider {
    position: absolute;
    width: 1px;
    height: 14px;
    top: 106px;
    left: 752px;
    background-color: #ffffff;
    transform: rotate(20deg);
    opacity: 0.5;
}

.blog .text-wrapper-7 {
    position: absolute;
    width: 63px;
    height: 24px;
    top: 100px;
    left: 756px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 23.8px;
    white-space: nowrap;
}

.blog .overlap-group {
    position: absolute;
    width: 1920px;
    height: 2848px;
    top: 557px;
    left: 0;
}

.blog .group-2 {
    position: absolute;
    width: 1417px;
    height: 2497px;
    top: 0;
    left: 250px;
}

.blog .group-3 {
    position: absolute;
    width: 940px;
    height: 2497px;
    top: 0;
    left: 0;
}

.blog .section-section {
    position: absolute;
    width: 940px;
    height: 2464px;
    top: 34px;
    left: 0;
}

.blog .article {
    height: 539px;
    top: 20px;
    left: 5px;
    position: absolute;
    width: 445px;
}

.blog .link-new-blog-JPG {
    position: absolute;
    width: 445px;
    height: 254px;
    top: 0;
    left: 0;
    border-radius: 7px;
    box-shadow: 0px 30px 30px #22281e12;
    background-image: url(./img/image-15.png);
    background-size: cover;
    background-position: 50% 50%;
}

.blog .icon {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 289px;
    left: 2px;
}

.blog .link-development {
    position: absolute;
    width: 72px;
    height: 18px;
    top: 283px;
    left: 24px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #22281e;
    font-size: 13px;
    letter-spacing: 1.68px;
    line-height: normal;
}

.blog .heading-link {
    position: absolute;
    width: 445px;
    height: 72px;
    top: 317px;
    left: 0;
}

.blog .text-wrapper-8 {
    position: absolute;
    width: 387px;
    height: 72px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.blog .training-workshop {
    width: 404px;
    position: absolute;
    height: 54px;
    top: 403px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.blog .link {
    position: absolute;
    width: 143px;
    height: 47px;
    top: 484px;
    left: 0;
    background-color: #f35f41;
    border-radius: 7px;
    overflow: hidden;
}

.blog .text-wrapper-9 {
    position: absolute;
    width: 110px;
    height: 21px;
    top: 12px;
    left: 16px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.56px;
    line-height: normal;
}

.blog .article-2 {
    height: 539px;
    top: 20px;
    left: 490px;
    position: absolute;
    width: 445px;
}

.blog .image-wrapper {
    position: absolute;
    width: 445px;
    height: 255px;
    top: 0;
    left: 0;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 30px 30px #22281e12;
}

.blog .image {
    width: 445px;
    height: 254px;
    top: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.blog .vector {
    position: absolute;
    width: 11px;
    height: 9px;
    top: 1px;
    left: 0;
}

.blog .link-design {
    position: absolute;
    width: 69px;
    height: 18px;
    top: 283px;
    left: 24px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #22281e;
    font-size: 13px;
    letter-spacing: 1.68px;
    line-height: normal;
}

.blog .text-wrapper-10 {
    width: 359px;
    height: 72px;
    top: -1px;
    font-size: 30px;
    line-height: 36px;
    position: absolute;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    letter-spacing: -1.05px;
}

.blog .p {
    width: 405px;
    position: absolute;
    height: 54px;
    top: 403px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.blog .article-3 {
    height: 503px;
    top: 619px;
    left: 5px;
    position: absolute;
    width: 445px;
}

.blog .link-new-blog-JPG-2 {
    position: absolute;
    width: 445px;
    height: 255px;
    top: 0;
    left: 0;
    border-radius: 7px;
    box-shadow: 0px 30px 30px #22281e12;
    background-image: url(./img/image-17.png);
    background-size: cover;
    background-position: 50% 50%;
}

.blog .link-development-2 {
    width: 59px;
    top: 284px;
    position: absolute;
    height: 18px;
    left: 24px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #22281e;
    font-size: 13px;
    letter-spacing: 1.68px;
    line-height: normal;
}

.blog .heading-link-2 {
    position: absolute;
    width: 425px;
    height: 36px;
    top: 316px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
    white-space: nowrap;
}

.blog .text-wrapper-11 {
    position: absolute;
    width: 429px;
    height: 54px;
    top: 367px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.blog .div-wrapper {
    position: absolute;
    width: 143px;
    height: 47px;
    top: 448px;
    left: 0;
    background-color: #f35f41;
    border-radius: 7px;
    overflow: hidden;
}

.blog .text-wrapper-12 {
    position: absolute;
    width: 110px;
    height: 21px;
    top: 11px;
    left: 16px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.56px;
    line-height: normal;
}

.blog .article-4 {
    height: 503px;
    top: 619px;
    left: 490px;
    position: absolute;
    width: 445px;
}

.blog .link-new-blog-JPG-3 {
    position: absolute;
    width: 445px;
    height: 255px;
    top: 0;
    left: 0;
    border-radius: 7px;
    box-shadow: 0px 30px 30px #22281e12;
    background-image: url(./img/image-18.png);
    background-size: cover;
    background-position: 50% 50%;
}

.blog .link-design-2 {
    width: 94px;
    position: absolute;
    height: 18px;
    top: 284px;
    left: 24px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #22281e;
    font-size: 13px;
    letter-spacing: 1.68px;
    line-height: normal;
}

.blog .overlap-group-2 {
    position: absolute;
    width: 427px;
    height: 119px;
    top: 302px;
    left: 0;
}

.blog .heading-link-the {
    position: absolute;
    width: 427px;
    height: 71px;
    top: 0;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 26px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.blog .text-wrapper-13 {
    position: absolute;
    width: 401px;
    height: 54px;
    top: 65px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.blog .article-5 {
    height: 539px;
    top: 1181px;
    left: 5px;
    position: absolute;
    width: 445px;
}

.blog .link-new-blog-JPG-4 {
    position: absolute;
    width: 445px;
    height: 255px;
    top: 0;
    left: 0;
    border-radius: 7px;
    box-shadow: 0px 30px 30px #22281e12;
    background-image: url(./img/image-19.png);
    background-size: cover;
    background-position: 50% 50%;
}

.blog .link-design-3 {
    width: 91px;
    position: absolute;
    height: 18px;
    top: 284px;
    left: 24px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #22281e;
    font-size: 13px;
    letter-spacing: 1.68px;
    line-height: normal;
}

.blog .text-wrapper-14 {
    position: absolute;
    width: 416px;
    height: 72px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.blog .text-wrapper-15 {
    position: absolute;
    width: 398px;
    height: 55px;
    top: 402px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.blog .overlap-2 {
    position: absolute;
    width: 445px;
    height: 539px;
    top: 1181px;
    left: 490px;
}

.blog .link-new-blog-JPG-5 {
    position: absolute;
    width: 445px;
    height: 255px;
    top: 0;
    left: 0;
    border-radius: 7px;
    box-shadow: 0px 30px 30px #22281e12;
    background-image: url(./img/image-20.png);
    background-size: cover;
    background-position: 50% 50%;
}

.blog .article-6 {
    height: 539px;
    top: 0;
    left: 0;
    position: absolute;
    width: 445px;
}

.blog .link-web-design {
    position: absolute;
    width: 93px;
    height: 18px;
    top: 284px;
    left: 24px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #22281e;
    font-size: 13px;
    letter-spacing: 1.68px;
    line-height: normal;
}

.blog .text-wrapper-16 {
    position: absolute;
    width: 388px;
    height: 72px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.blog .text-wrapper-17 {
    position: absolute;
    width: 408px;
    height: 54px;
    top: 403px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.blog .text-wrapper-18 {
    position: absolute;
    width: 111px;
    height: 21px;
    top: 12px;
    left: 15px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.56px;
    line-height: normal;
}

.blog .article-7 {
    height: 539px;
    top: 1780px;
    left: 5px;
    position: absolute;
    width: 445px;
}

.blog .link-new-blog-JPG-6 {
    position: absolute;
    width: 445px;
    height: 254px;
    top: 0;
    left: 0;
    border-radius: 7px;
    box-shadow: 0px 30px 30px #22281e12;
    background-image: url(./img/image-21.png);
    background-size: cover;
    background-position: 50% 50%;
}

.blog .link-development-3 {
    width: 73px;
    top: 283px;
    position: absolute;
    height: 18px;
    left: 24px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #22281e;
    font-size: 13px;
    letter-spacing: 1.68px;
    line-height: normal;
}

.blog .text-wrapper-19 {
    position: absolute;
    width: 422px;
    height: 100px;
    top: -15px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 26px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.blog .text-wrapper-20 {
    position: absolute;
    width: 435px;
    height: 54px;
    top: 403px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.blog .article-8 {
    height: 539px;
    top: 1780px;
    left: 490px;
    position: absolute;
    width: 445px;
}

.blog .link-new-blog-JPG-7 {
    position: absolute;
    width: 445px;
    height: 254px;
    top: 0;
    left: 0;
    border-radius: 7px;
    box-shadow: 0px 30px 30px #22281e12;
    background-image: url(./img/image-22.png);
    background-size: cover;
    background-position: 50% 50%;
}

.blog .link-development-4 {
    width: 68px;
    top: 283px;
    position: absolute;
    height: 18px;
    left: 24px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #22281e;
    font-size: 13px;
    letter-spacing: 1.68px;
    line-height: normal;
}

.blog .text-wrapper-21 {
    position: absolute;
    width: 370px;
    height: 72px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 28px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.blog .text-wrapper-22 {
    position: absolute;
    width: 432px;
    height: 54px;
    top: 403px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.blog .group-4 {
    position: absolute;
    width: 183px;
    height: 17px;
    top: 0;
    left: 5px;
}

.blog .horizontal-divider {
    position: absolute;
    width: 50px;
    height: 1px;
    top: 8px;
    left: 0;
    background-color: #14452f;
}

.blog .text-wrapper-23 {
    position: absolute;
    width: 116px;
    height: 17px;
    top: 0;
    left: 65px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.blog .group-5 {
    position: absolute;
    width: 400px;
    height: 872px;
    top: 54px;
    left: 1017px;
}

.blog .view {
    position: absolute;
    width: 400px;
    height: 344px;
    top: 528px;
    left: 0;
    background-color: #ffffff01;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 3px #22281e14;
}

.blog .figure-link-insta {
    top: 96px;
    left: 40px;
    background-image: url(./img/figure-link-insta-4-webp.png);
    position: absolute;
    width: 96px;
    height: 96px;
    background-size: cover;
    background-position: 50% 50%;
}

.blog .figure-link-insta-2 {
    top: 96px;
    left: 152px;
    background-image: url(./img/figure-link-insta-6-webp.png);
    position: absolute;
    width: 96px;
    height: 96px;
    background-size: cover;
    background-position: 50% 50%;
}

.blog .figure-link-insta-3 {
    top: 96px;
    left: 264px;
    background-image: url(./img/figure-link-insta-3-webp.png);
    position: absolute;
    width: 96px;
    height: 96px;
    background-size: cover;
    background-position: 50% 50%;
}

.blog .figure-link-insta-4 {
    top: 208px;
    left: 40px;
    background-image: url(./img/figure-link-insta-7-webp.png);
    position: absolute;
    width: 96px;
    height: 96px;
    background-size: cover;
    background-position: 50% 50%;
}

.blog .figure-link-insta-5 {
    top: 208px;
    left: 152px;
    background-image: url(./img/figure-link-insta-2-webp.png);
    position: absolute;
    width: 96px;
    height: 96px;
    background-size: cover;
    background-position: 50% 50%;
}

.blog .figure-link-insta-6 {
    top: 208px;
    left: 264px;
    background-image: url(./img/figure-link-insta-1-webp.png);
    position: absolute;
    width: 96px;
    height: 96px;
    background-size: cover;
    background-position: 50% 50%;
}

.blog .heading-instagram {
    position: absolute;
    width: 132px;
    height: 31px;
    top: 38px;
    left: 40px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 26px;
    letter-spacing: -0.91px;
    line-height: 31.2px;
    white-space: nowrap;
}

.blog .aside {
    position: absolute;
    width: 400px;
    height: 464px;
    top: 0;
    left: 0;
    background-color: #ffffff01;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0px 0px 8px 3px #22281e14;
}

.blog .heading-recent {
    position: absolute;
    width: 166px;
    height: 31px;
    top: 38px;
    left: 40px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 26px;
    letter-spacing: -0.91px;
    line-height: 31.2px;
    white-space: nowrap;
}

.blog .list {
    position: absolute;
    width: 320px;
    height: 328px;
    top: 96px;
    left: 40px;
}

.blog .item {
    height: 105px;
    top: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #22281e0d;
    position: absolute;
    width: 320px;
    left: 0;
}

.blog .link-new-blog-JPG-8 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background-image: url(./img/image-15-2.png);
    background-size: cover;
    background-position: 50% 50%;
}

.blog .element {
    position: absolute;
    width: 150px;
    height: 17px;
    top: 4px;
    left: 114px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #394630;
    font-size: 12px;
    letter-spacing: 1.68px;
    line-height: normal;
}

.blog .heading-link-3 {
    position: absolute;
    width: 200px;
    height: 52px;
    top: 33px;
    left: 114px;
}

.blog .text-wrapper-24 {
    width: 187px;
    height: 26px;
    top: 12px;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    letter-spacing: -1.05px;
}

.blog .item-2 {
    height: 105px;
    top: 119px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #22281e0d;
    position: absolute;
    width: 320px;
    left: 0;
}

.blog .link-new-blog-JPG-9 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background-image: url(./img/image-16.png);
    background-size: cover;
    background-position: 50% 50%;
}

.blog .element-2 {
    position: absolute;
    width: 135px;
    height: 17px;
    top: 3px;
    left: 114px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #394630;
    font-size: 12px;
    letter-spacing: 1.68px;
    line-height: normal;
}

.blog .heading-link-4 {
    position: absolute;
    width: 192px;
    height: 52px;
    top: 33px;
    left: 114px;
}

.blog .text-wrapper-25 {
    width: 192px;
    height: 26px;
    top: 15px;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    letter-spacing: -1.05px;
}

.blog .item-3 {
    height: 90px;
    top: 238px;
    position: absolute;
    width: 320px;
    left: 0;
}

.blog .link-new-blog-JPG-10 {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0;
    left: 0;
    border-radius: 3px;
    background-image: url(./img/image-17-2.png);
    background-size: cover;
    background-position: 50% 50%;
}

.blog .heading-link-5 {
    position: absolute;
    width: 198px;
    height: 52px;
    top: 33px;
    left: 114px;
}

.blog .text-wrapper-26 {
    position: absolute;
    width: 198px;
    height: 26px;
    top: 12px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 20px;
    letter-spacing: -1.05px;
    line-height: 20px;
}

.blog .futer {
    position: absolute;
    width: 1920px;
    height: 468px;
    top: 2380px;
    left: 0;
    background-color: #363636;
}

.blog .group-6 {
    position: absolute;
    width: 147px;
    height: 204px;
    top: 41px;
    left: 1115px;
}

.blog .text-wrapper-27 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: -0.35px;
    line-height: 48px;
    white-space: nowrap;
}

.blog .group-7 {
    position: absolute;
    width: 100px;
    height: 140px;
    top: 64px;
    left: 0;
}

.blog .text-wrapper-28 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
}

.blog .text-wrapper-29 {
    position: absolute;
    top: 29px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
}

.blog .text-wrapper-30 {
    position: absolute;
    top: 87px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
}

.blog .text-wrapper-31 {
    position: absolute;
    top: 116px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
}

.blog .text-wrapper-32 {
    position: absolute;
    top: 58px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
}

.blog .group-8 {
    position: absolute;
    width: 403px;
    height: 331px;
    top: 46px;
    left: 1469px;
}

.blog .group-9 {
    position: absolute;
    width: 400px;
    height: 282px;
    top: 49px;
    left: 1px;
}

.blog .group-10 {
    position: absolute;
    width: 182px;
    height: 282px;
    top: 0;
    left: 218px;
}

.blog .img {
    width: 182px;
    height: 135px;
    top: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.blog .image-2 {
    width: 182px;
    height: 135px;
    top: 147px;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.blog .group-11 {
    position: absolute;
    width: 218px;
    height: 125px;
    top: 10px;
    left: 0;
}

.blog .group-12 {
    position: absolute;
    width: 222px;
    height: 65px;
    top: 0;
    left: 0;
}

.blog .element-3 {
    position: absolute;
    width: 174px;
    height: 65px;
    top: 0;
    left: 44px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
}

.blog .symbol {
    width: 18px;
    top: 21px;
    position: absolute;
    height: 24px;
    left: 0;
}

.blog .group-13 {
    position: absolute;
    width: 186px;
    height: 32px;
    top: 93px;
    left: 0;
}

.blog .text-wrapper-33 {
    width: 139px;
    position: absolute;
    height: 32px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.blog .symbol-2 {
    width: 24px;
    top: 5px;
    position: absolute;
    height: 24px;
    left: 0;
}

.blog .group-14 {
    position: absolute;
    width: 218px;
    height: 124px;
    top: 158px;
    left: 0;
}

.blog .group-15 {
    position: absolute;
    width: 222px;
    height: 82px;
    top: 0;
    left: 0;
}

.blog .element-4 {
    position: absolute;
    width: 175px;
    height: 82px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
}

.blog .symbol-3 {
    width: 19px;
    top: 33px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    position: absolute;
    height: 24px;
    left: 0;
}

.blog .group-16 {
    position: absolute;
    width: 193px;
    height: 32px;
    top: 92px;
    left: 0;
}

.blog .text-wrapper-34 {
    width: 146px;
    position: absolute;
    height: 32px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.blog .symbol-4 {
    width: 24px;
    top: 5px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    position: absolute;
    height: 24px;
    left: 0;
}

.blog .group-17 {
    position: absolute;
    width: 150px;
    height: 208px;
    top: 46px;
    left: 245px;
}

.blog .gerb-new {
    position: absolute;
    width: 125px;
    height: 127px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.blog .text-wrapper-35 {
    position: absolute;
    top: 136px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
}

.blog .overlap-wrapper {
    position: absolute;
    width: 1920px;
    height: 26px;
    top: 442px;
    left: 0;
}

.blog .overlap-3 {
    position: relative;
    width: 1920px;
    height: 26px;
}

.blog .overlap-group-3 {
    position: absolute;
    width: 1920px;
    height: 26px;
    top: 0;
    left: 0;
}

.blog .text-wrapper-36 {
    position: absolute;
    width: 202px;
    height: 25px;
    top: 1px;
    left: 1469px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.blog .line {
    position: absolute;
    width: 1920px;
    height: 2px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.blog .element-5 {
    position: absolute;
    width: 237px;
    height: 24px;
    top: 2px;
    left: 245px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff99;
    font-size: 15px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.blog .span {
    letter-spacing: -0.13px;
}

.blog .group-18 {
    position: absolute;
    width: 497px;
    height: 284px;
    top: 46px;
    left: 535px;
}

.blog .overlap-4 {
    position: absolute;
    width: 509px;
    height: 228px;
    top: 56px;
    left: 0;
}

.blog .group-19 {
    position: absolute;
    width: 150px;
    height: 221px;
    top: 7px;
    left: 0;
}

.blog .text-wrapper-37 {
    width: 20px;
    top: 58px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.blog .text-wrapper-38 {
    width: 23px;
    top: 29px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.blog .text-wrapper-39 {
    width: 20px;
    top: 116px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.blog .text-wrapper-40 {
    width: 23px;
    top: 0;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.blog .text-wrapper-41 {
    width: 136px;
    top: 198px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.blog .text-wrapper-42 {
    width: 21px;
    top: 145px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.blog .text-wrapper-43 {
    width: 22px;
    top: 87px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.blog .group-20 {
    position: absolute;
    width: 454px;
    height: 221px;
    top: 0;
    left: 55px;
}

.blog .text-wrapper-44 {
    position: absolute;
    width: 173px;
    top: 198px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
}

.blog .text-wrapper-45 {
    position: absolute;
    top: 145px;
    left: 1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
}

.blog .text-wrapper-46 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}