html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.home {
    position: absolute;
    width: 1920px;
    height: 6428px;
    background-color: #e5e5e5;
    overflow: hidden;
}

.heder {
    position: absolute;
    width: 1932px;
    height: 80px;
    top: 0;
    left: 0;
}

.navbar {
    position: relative;
    width: 1920px;
    height: 80px;
    background-color: #4a3030;
}

.logo-img {
    position: absolute;
    width: 57px;
    height: 58px;
    top: 11px;
    left: 114px;
    object-fit: cover;
}

.text {
    left: 623px;
    position: absolute;
    top: 31px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.text-wrapper {
    left: 728px;
    position: absolute;
    top: 31px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.div {
    left: 831px;
    position: absolute;
    top: 31px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.text-2 {
    left: 983px;
    position: absolute;
    top: 31px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.text-3 {
    left: 1097px;
    position: absolute;
    top: 31px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.text-4 {
    left: 1227px;
    position: absolute;
    top: 31px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.banner {
    position: absolute;
    width: 1920px;
    height: 944px;
    top: 80px;
    left: 0;
}

.overlap {
    position: relative;
    width: 1920px;
    height: 944px;
    background-image: url(pgoto/imageban.png);
    background-size: cover;
    background-position: 50% 50%;
}

.p {
    width: 1052px;
    top: 70px;
    left: 245px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #e5e5e5;
    font-size: 55px;
    line-height: normal;
    position: absolute;
    letter-spacing: 0;
}

.text-5 {
    width: 550px;
    top: 655px;
    left: 245px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    letter-spacing: 0;
    position: absolute;
    color: #e5e5e5;
    font-size: 16px;
    line-height: normal;
}

.button1 {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 202px;
    height: 66px;
    top: 694px;
    left: 245px;
    cursor: pointer;
}

.overlap-group {
    position: relative;
    width: 200px;
    height: 66px;
    background-color: #f35f41;
    border-radius: 5px;
    transition: background-color 0.9s ease; /* Плавний перехід кольору */
}

.button1:hover .overlap-group {
    background-color: #4A5659; /* Колір при наведенні */
}

.text-6 {
    position: absolute;
    width: 145px;
    top: 22px;
    left: 28px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}


.home .about-us {
    position: absolute;
    width: 1422px;
    height: 733px;
    top: 1123px;
    left: 250px;
}

.home .section {
    width: 670px;
    height: 733px;
    left: 0;
    position: absolute;
    top: 0;
}

.home .img {
    position: absolute;
    width: 325px;
    height: 351px;
    top: 132px;
    left: 0;
    border-radius: 10px;
    background-image: url(./img/image-6.png);
    background-size: cover;
    background-position: 50% 50%;
}

.home .div-wrapper {
    width: 325px;
    height: 339px;
    left: 345px;
    border-radius: 7px;
    overflow: hidden;
    background-image: url(./img/image-5.png);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
}

.home .text-7 {
    width: 159px;
    height: 29px;
    top: 289px;
    left: 20px;
    color: #e5e5e5;
    font-size: 24px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    position: absolute;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    white-space: nowrap;
}

.home .image-img {
    position: absolute;
    width: 325px;
    height: 374px;
    top: 359px;
    left: 345px;
}

.home .title {
    position: absolute;
    width: 358px;
    height: 17px;
    top: 31px;
    left: 750px;
}

.home .horizontal {
    left: 0;
    position: absolute;
    width: 50px;
    height: 1px;
    top: 8px;
    background-color: #14452f;
}

.home .text-8 {
    position: absolute;
    width: 291px;
    height: 17px;
    top: 0;
    left: 65px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.home .heading {
    position: absolute;
    width: 670px;
    height: 132px;
    top: 68px;
    left: 750px;
}

.home .text-9 {
    position: absolute;
    width: 497px;
    height: 132px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 55px;
    letter-spacing: -1.92px;
    line-height: 66px;
}

.home .text-10 {
    position: absolute;
    width: 633px;
    height: 54px;
    top: 214px;
    left: 750px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.home .block {
    position: absolute;
    width: 308px;
    height: 130px;
    top: 314px;
    left: 755px;
}

.home .img-2 {
    height: 46px;
    top: 9px;
    position: absolute;
    width: 51px;
    left: 0;
}

.home .text-11 {
    position: absolute;
    width: 69px;
    height: 66px;
    top: 0;
    left: 75px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 55px;
    letter-spacing: 0;
    line-height: 66px;
    white-space: nowrap;
}

.home .text-12 {
    position: absolute;
    width: 229px;
    height: 54px;
    top: 75px;
    left: 75px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.home .block-2 {
    position: absolute;
    width: 282px;
    height: 130px;
    top: 314px;
    left: 1110px;
}

.home .img-3 {
    height: 51px;
    top: 6px;
    position: absolute;
    width: 51px;
    left: 0;
}

.home .text-13 {
    position: absolute;
    width: 35px;
    height: 66px;
    top: 0;
    left: 75px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 55px;
    letter-spacing: 0;
    line-height: 66px;
    white-space: nowrap;
}

.home .text-14 {
    position: absolute;
    width: 84px;
    height: 66px;
    top: 0;
    left: 112px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 55px;
    letter-spacing: 0;
    line-height: 66px;
    white-space: nowrap;
}

.home .text-15 {
    position: absolute;
    width: 201px;
    height: 54px;
    top: 75px;
    left: 75px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.home .block-3 {
    position: absolute;
    width: 308px;
    height: 145px;
    top: 484px;
    left: 754px;
}

.home .img-4 {
    position: absolute;
    width: 53px;
    height: 39px;
    top: 12px;
    left: 0;
}

.home .text-16 {
    position: absolute;
    width: 70px;
    height: 66px;
    top: 0;
    left: 76px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 55px;
    letter-spacing: 0;
    line-height: 66px;
    white-space: nowrap;
}

.home .text-17 {
    position: absolute;
    width: 52px;
    height: 66px;
    top: 0;
    left: 148px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 55px;
    letter-spacing: 0;
    line-height: 66px;
    white-space: nowrap;
}

.home .text-18 {
    position: absolute;
    width: 226px;
    height: 69px;
    top: 76px;
    left: 76px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.home .block-4 {
    position: absolute;
    width: 310px;
    height: 130px;
    top: 484px;
    left: 1109px;
}

.home .img-5 {
    position: absolute;
    width: 52px;
    height: 39px;
    top: 12px;
    left: 0;
}

.home .text-19 {
    position: absolute;
    width: 76px;
    height: 66px;
    top: 0;
    left: 76px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 55px;
    letter-spacing: 0;
    line-height: 66px;
    white-space: nowrap;
}

.home .text-20 {
    width: 230px;
    height: 54px;
    top: 75px;
    left: 76px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    line-height: 27.2px;
    position: absolute;
    letter-spacing: 0;
}

.home .overlap-group-wrapper {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 149px;
    height: 47px;
    top: 665px;
    left: 750px;
}

.home .overlap-group-2 {
    position: relative;
    width: 147px;
    height: 47px;
    border-radius: 7px;
}

.home .object {
    position: absolute;
    width: 147px;
    height: 47px;
    top: 0;
    left: 0;
    background-color: #f35f41;
    border-radius: 7px;
}

.home .text-21 {
    width: 113px;
    height: 21px;
    top: 12px;
    left: 16px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.56px;
    position: absolute;
    color: #e5e5e5;
    font-size: 16px;
    line-height: normal;
    cursor: pointer;
}

.home .specialty {
    position: absolute;
    width: 1920px;
    height: 861px;
    top: 1955px;
    left: 0;
    background-color: #27b469;
}

.home .group {
    position: relative;
    width: 1422px;
    height: 611px;
    top: 130px;
    left: 250px;
}

.home .title-2 {
    position: absolute;
    width: 317px;
    height: 17px;
    top: 0;
    left: 0;
}

.home .text-22 {
    width: 250px;
    position: absolute;
    height: 17px;
    top: 0;
    left: 65px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.home .text-23 {
    width: 952px;
    height: 66px;
    top: 37px;
    left: 0;
    color: #22281e;
    font-size: 55px;
    letter-spacing: -1.92px;
    line-height: 66px;
    position: absolute;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    white-space: nowrap;
}

.home .group-2 {
    position: absolute;
    width: 1420px;
    height: 448px;
    top: 163px;
    left: 0;
}

.home .block-profession {
    position: absolute;
    width: 334px;
    height: 214px;
    top: 0;
    left: 0;
    background-color: #e5e5e5;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home .img-img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 32px;
    left: 32px;
    transition: filter 0.3s ease;
    filter: none;
}

.home .text-24 {
    position: absolute;
    width: 211px;
    height: 59px;
    top: 121px;
    left: 32px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 24px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    transition: color 0.3s ease;
}

.home .block-profession:hover {
    background-color: #14452f;
}

.home .block-profession:hover .img-img {
    filter: invert(100%);
}

.home .block-profession:hover .text-24 {
    color: #e5e5e5;
}

.home .block-5 {
    position: absolute;
    width: 334px;
    height: 214px;
    top: 0;
    left: 362px;
    background-color: #e5e5e5;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home .block-5 .img-img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 32px;
    left: 32px;
    transition: filter 0.3s ease;
}

.home .block-5 .text-25 {
    position: absolute;
    width: 291px;
    height: 65px;
    top: 119px;
    left: 32px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 24px;
    letter-spacing: -0.26px;
    line-height: 36px;
    transition: color 0.3s ease;
}

.home .block-5:hover {
    background-color: #14452f;
}

.home .block-5:hover .img-img {
    filter: invert(100%);
}

.home .block-5:hover .text-25 {
    color: #e5e5e5;
}

.home .block-6 {
    position: absolute;
    width: 334px;
    height: 214px;
    top: 0;
    left: 724px;
    background-color: #e5e5e5;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home .block-6 .img-img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 32px;
    left: 32px;
    transition: filter 0.3s ease;
}

.home .block-6 .text-26 {
    position: absolute;
    width: 293px;
    height: 55px;
    top: 118px;
    left: 32px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 24px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    transition: color 0.3s ease;
}

.home .block-6:hover {
    background-color: #14452f;
}

.home .block-6:hover .img-img {
    filter: invert(100%);
}

.home .block-6:hover .text-26 {
    color: #e5e5e5;
}

.home .block-7 {
    position: absolute;
    width: 334px;
    height: 214px;
    top: 0;
    left: 1086px;
    background-color: #e5e5e5;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home .block-7 .img-img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 32px;
    left: 32px;
    transition: filter 0.3s ease;
}

.home .block-7 .text-27 {
    position: absolute;
    width: 236px;
    height: 28px;
    top: 105px;
    left: 32px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 24px;
    letter-spacing: -0.26px;
    line-height: 36px;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.home .block-7:hover {
    background-color: #14452f;
}

.home .block-7:hover .img-img {
    filter: invert(100%);
}

.home .block-7:hover .text-27 {
    color: #e5e5e5;
}

.home .block-8 {
    position: absolute;
    width: 334px;
    height: 214px;
    top: 234px;
    left: 0;
    background-color: #e5e5e5;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home .block-8 .overlap-group-3 {
    position: relative;
    width: 322px;
    height: 165px;
    top: 32px;
    left: 9px;
}

.home .block-8 .img-prof-img {
    position: absolute;
    width: 56px;
    height: 70px;
    top: 0;
    left: 30px;
    transition: filter 0.3s ease;
}

.home .block-8 .text-28 {
    position: absolute;
    width: 322px;
    height: 99px;
    top: 66px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 24px;
    letter-spacing: -0.26px;
    line-height: 36px;
    transition: color 0.3s ease;
}

.home .block-8:hover {
    background-color: #14452f;
}

.home .block-8:hover .img-prof-img {
    filter: invert(100%);
}

.home .block-8:hover .text-28 {
    color: #e5e5e5;
}

.home .block-9 {
    position: absolute;
    width: 334px;
    height: 214px;
    top: 234px;
    left: 362px;
    background-color: #e5e5e5;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home .block-9 .img-img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 32px;
    left: 32px;
    transition: filter 0.3s ease;
}

.home .block-9 .text-29 {
    position: absolute;
    width: 236px;
    height: 22px;
    top: 119px;
    left: 32px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 24px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.home .block-9:hover {
    background-color: #14452f;
}

.home .block-9:hover .img-img {
    filter: invert(100%);
}

.home .block-9:hover .text-29 {
    color: #e5e5e5;
}

.home .block-10 {
    position: absolute;
    width: 334px;
    height: 214px;
    top: 234px;
    left: 724px;
    background-color: #e5e5e5;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home .block-10 .img-img {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 32px;
    left: 32px;
    transition: filter 0.3s ease;
}

.home .block-10 .text-30 {
    position: absolute;
    width: 138px;
    height: 30px;
    top: 119px;
    left: 32px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 24px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.home .block-10:hover {
    background-color: #14452f;
}

.home .block-10:hover .img-img {
    filter: invert(100%);
}

.home .block-10:hover .text-30 {
    color: #e5e5e5;
}

.home .block-11 {
    position: absolute;
    width: 334px;
    height: 214px;
    top: 234px;
    left: 1086px;
    background-color: #f35f41;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
}

.home .text-31 {
    position: absolute;
    width: 131px;
    height: 22px;
    top: 94px;
    left: 102px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #e5e5e5;
    font-size: 24px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.home .group-3 {
    position: absolute;
    width: 1180px;
    height: 624px;
    top: 2896px;
    left: 370px;
}

.home .documents {
    position: absolute;
    width: 455px;
    height: 624px;
    top: 0;
    left: 725px;
}

.home .group-wrapper {
    position: absolute;
    width: 455px;
    height: 535px;
    top: 89px;
    left: 0;
    background-color: #ffffff;
    border-radius: 7px;
    border: 1px solid;
    border-color: #c4c4c4;
}

.home .group-4 {
    position: relative;
    width: 388px;
    height: 503px;
    top: -1px;
    left: 19px;
}

.home .overlap-group-4 {
    position: absolute;
    width: 386px;
    height: 233px;
    top: 0;
    left: 0;
}

.home .image-documents-img {
    position: absolute;
    width: 364px;
    height: 233px;
    top: 0;
    left: 22px;
    object-fit: cover;
    opacity: 0.75;
}

.home .text-32 {
    position: absolute;
    width: 270px;
    top: 151px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.home .group-5 {
    position: absolute;
    width: 386px;
    height: 270px;
    top: 233px;
    left: 0;
}

.home .group-6 {
    position: absolute;
    width: 10px;
    height: 251px;
    top: 10px;
    left: 0;
}

.home .circle {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    left: 0;
    background-color: #14452f;
    border-radius: 12.5px;
}

.home .circle-2 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 40px;
    left: 0;
    background-color: #14452f;
    border-radius: 12.5px;
}

.home .circle-3 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 80px;
    left: 0;
    background-color: #14452f;
    border-radius: 12.5px;
}

.home .circle-4 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 121px;
    left: 0;
    background-color: #14452f;
    border-radius: 12.5px;
}

.home .circle-5 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 161px;
    left: 0;
    background-color: #14452f;
    border-radius: 12.5px;
}

.home .circle-6 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 201px;
    left: 0;
    background-color: #14452f;
    border-radius: 12.5px;
}

.home .circle-7 {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 241px;
    left: 0;
    background-color: #14452f;
    border-radius: 12.5px;
}

.home .group-7 {
    position: absolute;
    width: 363px;
    height: 270px;
    top: 0;
    left: 37px;
}

.home .text-33 {
    position: absolute;
    width: 239px;
    height: 29px;
    top: 0;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.home .text-34 {
    position: absolute;
    width: 349px;
    height: 29px;
    top: 40px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.home .text-35 {
    position: absolute;
    width: 178px;
    height: 29px;
    top: 80px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.home .text-36 {
    position: absolute;
    width: 300px;
    height: 29px;
    top: 121px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.home .text-37 {
    position: absolute;
    width: 48px;
    height: 29px;
    top: 161px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.home .text-38 {
    position: absolute;
    width: 162px;
    height: 29px;
    top: 201px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.home .text-39 {
    position: absolute;
    width: 241px;
    height: 29px;
    top: 241px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.home .courses {
    width: 455px;
    height: 624px;
    top: 0;
    position: absolute;
    left: 0;
}

.home .courses-2 {
    width: 457px;
    height: 533px;
    top: 91px;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.home .overlap-group-5 {
    position: relative;
    width: 455px;
    height: 533px;
    background-color: #ffffff;
    border-radius: 7px;
    border: 1px solid;
    border-color: #c4c4c4;
}

.home .paragraph {
    position: absolute;
    width: 453px;
    height: 17px;
    top: 284px;
    left: -1px;
}

.home .symbol-img {
    position: absolute;
    width: 14px;
    height: 14px;
    top: 1px;
    left: 25px;
}

.home .text-40 {
    position: absolute;
    width: 98px;
    height: 17px;
    top: -1px;
    left: 47px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16.8px;
    white-space: nowrap;
}

.home .img-6 {
    position: absolute;
    width: 12px;
    height: 14px;
    top: 1px;
    left: 147px;
}

.home .text-41 {
    position: absolute;
    width: 101px;
    height: 17px;
    top: -1px;
    left: 167px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16.8px;
    white-space: nowrap;
}

.home .img-7 {
    position: absolute;
    width: 12px;
    height: 14px;
    top: 1px;
    left: 271px;
}

.home .text-42 {
    position: absolute;
    width: 101px;
    height: 17px;
    top: -1px;
    left: 291px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16.8px;
    white-space: nowrap;
}

.home .image-courses-img {
    position: absolute;
    width: 455px;
    height: 257px;
    top: -286px;
    left: 0;
}

.home .group-8 {
    position: absolute;
    width: 406px;
    height: 33px;
    top: 469px;
    left: 24px;
}

.home .ins {
    position: absolute;
    width: 43px;
    height: 33px;
    top: 0;
    left: 0;
}

.home .text-43 {
    position: absolute;
    width: 106px;
    height: 29px;
    top: 1px;
    left: 0;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28.8px;
    white-space: nowrap;
}

.home .image-icon-img {
    position: absolute;
    width: 17px;
    height: 19px;
    top: 6px;
    left: 292px;
}

.home .image-img-2 {
    position: absolute;
    width: 17px;
    height: 19px;
    top: 6px;
    left: 310px;
}

.home .image-img-3 {
    position: absolute;
    width: 17px;
    height: 19px;
    top: 6px;
    left: 329px;
}

.home .image-img-4 {
    position: absolute;
    width: 17px;
    height: 19px;
    top: 6px;
    left: 348px;
}

.home .image-img-5 {
    position: absolute;
    width: 17px;
    height: 19px;
    top: 6px;
    left: 366px;
}

.home .text-44 {
    position: absolute;
    width: 10px;
    height: 27px;
    top: 3px;
    left: 394px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
    white-space: nowrap;
}

.home .text-45 {
    position: absolute;
    width: 266px;
    height: 36px;
    top: 320px;
    left: 24px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
    white-space: nowrap;
}

.home .bloc {
    position: absolute;
    width: 403px;
    height: 54px;
    top: 367px;
    left: 24px;
}

.home .text-46 {
    position: absolute;
    width: 375px;
    height: 54px;
    top: -2px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.home .group-9 {
    position: absolute;
    width: 1920px;
    height: 1005px;
    top: 3632px;
    left: 0;
    background-color: #27b469;
}

.home .group-10 {
    position: relative;
    width: 1410px;
    height: 838px;
    top: 130px;
    left: 255px;
}

.home .group-11 {
    position: relative;
    width: 1412px;
    height: 838px;
}

.home .title-3 {
    position: absolute;
    width: 312px;
    height: 17px;
    top: 0;
    left: 550px;
}

.home .text-47 {
    position: absolute;
    width: 180px;
    height: 17px;
    top: 0;
    left: 65px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.home .horizontal-divider {
    left: 260px;
    position: absolute;
    width: 50px;
    height: 1px;
    top: 8px;
    background-color: #14452f;
}

.home .heading-h {
    position: absolute;
    width: 616px;
    height: 66px;
    top: 37px;
    left: 397px;
}

.home .text-48 {
    position: absolute;
    width: 616px;
    height: 66px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 55px;
    text-align: center;
    letter-spacing: -1.92px;
    line-height: 66px;
    white-space: nowrap;
}

.home .span {
    letter-spacing: -1.06px;
}

.home .text-49 {
    position: absolute;
    width: 645px;
    height: 54px;
    top: 117px;
    left: 383px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 27.2px;
}

.home .group-12 {
    position: absolute;
    width: 1410px;
    height: 538px;
    top: 227px;
    left: 0;
}

.home .article {
    position: absolute;
    width: 443px;
    height: 538px;
    top: 0;
    left: 0;
}

.home .container {
    position: absolute;
    width: 443px;
    height: 254px;
    top: 0;
    left: 0;
    border-radius: 7px;
    background-image: url(./img/image-15.png);
    background-size: cover;
    background-position: 50% 50%;
}

.home .icon {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 288px;
    left: 2px;
}

.home .text-50 {
    position: absolute;
    width: 110px;
    height: 18px;
    top: 283px;
    left: 24px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    letter-spacing: 1.68px;
    line-height: normal;
}

.home .heading-2 {
    position: absolute;
    width: 443px;
    height: 72px;
    top: 316px;
    left: 0;
}

.home .text-51 {
    position: absolute;
    width: 443px;
    height: 72px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.home .text-52 {
    width: 404px;
    height: 54px;
    top: 402px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    letter-spacing: 0;
    line-height: 27.2px;
    position: absolute;
    font-size: 16px;
}

.home .button-2 {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 143px;
    height: 47px;
    top: 483px;
    left: 0;
    background-color: #f35f41;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
}

.home .text-53 {
    width: 118px;
    height: 21px;
    top: 11px;
    left: 12px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    text-align: center;
    letter-spacing: -0.56px;
    line-height: normal;
    position: absolute;
    font-size: 16px;
}

.home .article-2 {
    position: absolute;
    width: 443px;
    height: 538px;
    top: 0;
    left: 483px;
}

.home .container-2 {
    position: absolute;
    width: 443px;
    height: 254px;
    top: 0;
    left: 0;
    border-radius: 7px;
    background-image: url(./img/image-16.png);
    background-size: cover;
    background-position: 50% 50%;
    cursor: pointer;
}

.home .vector-img {
    position: absolute;
    width: 11px;
    height: 9px;
    top: 1px;
    left: 0;
}

.home .text-54 {
    position: absolute;
    width: 69px;
    height: 18px;
    top: 283px;
    left: 24px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    letter-spacing: 1.68px;
    line-height: normal;
}

.home .text-55 {
    position: absolute;
    width: 444px;
    height: 72px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.home .text-56 {
    position: absolute;
    width: 405px;
    height: 54px;
    top: 402px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.home .text-57 {
    position: absolute;
    width: 115px;
    height: 21px;
    top: 12px;
    left: 15px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.56px;
    line-height: normal;
}

.home .article-3 {
    position: absolute;
    width: 443px;
    height: 538px;
    top: 0;
    left: 967px;
}

.home .container-3 {
    position: absolute;
    width: 443px;
    height: 254px;
    top: 0;
    left: 0;
    border-radius: 7px;
    background-image: url(./img/image-17.png);
    background-size: cover;
    background-position: 50% 50%;
}

.home .text-58 {
    position: absolute;
    width: 377px;
    height: 72px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.home .text-59 {
    position: absolute;
    width: 432px;
    height: 54px;
    top: 402px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.home .text-60 {
    position: absolute;
    width: 112px;
    height: 21px;
    top: 11px;
    left: 15px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.56px;
    line-height: normal;
}

.home .group-13 {
    position: absolute;
    width: 182px;
    height: 17px;
    top: 821px;
    left: 615px;
}

.home .overlap-group-6 {
    position: relative;
    width: 180px;
    height: 17px;
}

.home .textbloh {
    position: absolute;
    width: 180px;
    height: 17px;
    top: 0;
    left: 0;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
    cursor: pointer;
}

.home .object-2 {
    position: absolute;
    width: 158px;
    height: 1px;
    top: 16px;
    left: 11px;
    object-fit: cover;
}

.home .group-14 {
    position: absolute;
    width: 1627px;
    height: 1102px;
    top: 4706px;
    left: 154px;
}

.home .group-15 {
    position: absolute;
    width: 1629px;
    height: 585px;
    top: 0;
    left: 0;
}

.home .text-61 {
    position: absolute;
    width: 1050px;
    height: 117px;
    top: 41px;
    left: 281px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 55px;
    letter-spacing: -1.92px;
    line-height: 66px;
}

.home .title-4 {
    position: absolute;
    width: 286px;
    height: 17px;
    top: 0;
    left: 664px;
}

.home .text-62 {
    width: 155px;
    text-align: center;
    position: absolute;
    height: 17px;
    top: 0;
    left: 65px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.home .horizontal-2 {
    position: absolute;
    width: 50px;
    height: 1px;
    top: 8px;
    left: 234px;
    background-color: #14452f;
}

.home .group-16 {
    position: absolute;
    width: 1627px;
    height: 317px;
    top: 268px;
    left: 0;
}

.home .card {
    position: absolute;
    width: 457px;
    height: 316px;
    top: 1px;
    left: 0;
    background-color: #ff6700;
    border-radius: 7px;
}

.home .group-17 {
    position: absolute;
    width: 148px;
    height: 87px;
    top: 195px;
    left: 275px;
}

.home .text-63 {
    position: absolute;
    width: 144px;
    height: 35px;
    top: 52px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 1.8px;
    line-height: 25px;
}

.home .text-64 {
    position: absolute;
    width: 105px;
    height: 38px;
    top: 0;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
    white-space: nowrap;
}

.home .image-img-6 {
    position: absolute;
    width: 247px;
    height: 247px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.home .card-2 {
    position: absolute;
    width: 457px;
    height: 316px;
    top: 0;
    left: 585px;
    background-color: #1c1a1b;
    border-radius: 7px;
}

.home .overlap-group-7 {
    position: relative;
    width: 423px;
    height: 282px;
}

.home .image-img-7 {
    position: absolute;
    width: 247px;
    height: 247px;
    top: 0;
    left: 0;
}

.home .group-18 {
    position: absolute;
    width: 213px;
    height: 86px;
    top: 196px;
    left: 210px;
}

.home .text-65 {
    position: absolute;
    width: 147px;
    height: 35px;
    top: 51px;
    left: 62px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
    white-space: nowrap;
}

.home .text-66 {
    position: absolute;
    width: 209px;
    height: 38px;
    top: 0;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #e5e5e5;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
    white-space: nowrap;
}

.home .card-3 {
    position: absolute;
    width: 457px;
    height: 316px;
    top: 0;
    left: 1170px;
    background-color: #ffffff;
    border-radius: 7px;
    border: 1px solid;
    border-color: #000000;
}

.home .group-19 {
    position: absolute;
    width: 222px;
    height: 91px;
    top: 195px;
    left: 209px;
}

.home .overlap-group-8 {
    position: relative;
    width: 218px;
    height: 91px;
}

.home .text-67 {
    position: relative;
    width: 126px;
    height: 35px;
    top: 86px;
    left: 92px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #14452f;
    font-size: 16px;
    letter-spacing: 1.8px;
    line-height: 12.8px;
}

.home .text-68 {
    position: absolute;
    width: 218px;
    height: 65px;
    top: 0;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #14452f;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.home .image-img-8 {
    position: absolute;
    width: 168px;
    height: 168px;
    top: 39px;
    left: 41px;
    object-fit: cover;
}

.home .group-20 {
    position: absolute;
    width: 1432px;
    height: 410px;
    top: 692px;
    left: 89px;
}

.home .group-21 {
    position: absolute;
    width: 1432px;
    height: 316px;
    top: 94px;
    left: 0;
}

.home .cardobject {
    position: absolute;
    width: 458px;
    height: 316px;
    top: 0;
    left: 0;
    background-color: #14452f;
    border-radius: 7px;
    overflow: hidden;
}

.home .container-4 {
    height: 316px;
}

.home .overlap-group-9 {
    position: relative;
    width: 428px;
    height: 286px;
    top: 30px;
    left: 30px;
}

.home .section-2 {
    width: 398px;
    height: 107px;
    left: 0;
    position: absolute;
    top: 0;
}

.home .text-69 {
    position: absolute;
    width: 122px;
    height: 17px;
    top: 1px;
    left: 30px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #e5e5e5;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.home .text-70 {
    position: absolute;
    width: 278px;
    height: 103px;
    top: 34px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #e5e5e5;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.home .img-8 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -1px;
    left: 0;
    font-family: "Font Awesome 5 Free-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.home .imagereviews-img {
    position: absolute;
    width: 279px;
    height: 279px;
    top: 7px;
    left: 149px;
}

.home .container-wrapper {
    position: absolute;
    width: 458px;
    height: 316px;
    top: 0;
    left: 488px;
    background-color: #14452f;
    border-radius: 7px;
    overflow: hidden;
}

.home .text-71 {
    position: absolute;
    width: 99px;
    height: 17px;
    top: 1px;
    left: 30px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #e5e5e5;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.home .text-72 {
    position: absolute;
    width: 257px;
    height: 38px;
    top: 34px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #e5e5e5;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
    white-space: nowrap;
}

.home .img-9 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
    font-family: "Font Awesome 5 Free-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    white-space: nowrap;
}

.home .cardobject-2 {
    position: absolute;
    width: 458px;
    height: 316px;
    top: 0;
    left: 975px;
    background-color: #14452f;
    border-radius: 7px;
    overflow: hidden;
}

.home .overlap-group-10 {
    position: relative;
    width: 398px;
    height: 286px;
    top: 30px;
    left: 30px;
}

.home .text-73 {
    position: absolute;
    width: 146px;
    height: 17px;
    top: 1px;
    left: 30px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #e5e5e5;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.home .text-74 {
    position: absolute;
    width: 302px;
    height: 72px;
    top: 34px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #e5e5e5;
    font-size: 30px;
    letter-spacing: -1.05px;
    line-height: 36px;
}

.home .img-10 {
    position: absolute;
    width: 299px;
    height: 279px;
    top: 7px;
    left: 99px;
}

.home .title-5 {
    position: absolute;
    width: 286px;
    height: 17px;
    top: 0;
    left: 575px;
}

.home .futer {
    position: absolute;
    width: 1920px;
    height: 468px;
    top: 5960px;
    left: 0;
    background-color: #4a3030;
}

.home .group-22 {
    position: absolute;
    width: 150px;
    height: 208px;
    top: 46px;
    left: 245px;
}

.home .futerlogo-img {
    position: absolute;
    width: 125px;
    height: 127px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.home .futertext {
    position: absolute;
    top: 136px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
}

.home .group-23 {
    position: absolute;
    width: 497px;
    height: 284px;
    top: 46px;
    left: 535px;
}

.home .overlap-group-11 {
    position: absolute;
    width: 509px;
    height: 228px;
    top: 56px;
    left: 0;
}

.home .group-24 {
    position: absolute;
    width: 150px;
    height: 221px;
    top: 7px;
    left: 0;
}

.home .futertext-2 {
    position: absolute;
    width: 20px;
    top: 58px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.home .futertext-3 {
    position: absolute;
    width: 23px;
    top: 29px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.home .futertext-4 {
    position: absolute;
    width: 20px;
    top: 116px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.home .futertext-5 {
    position: absolute;
    width: 23px;
    top: 0;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.home .futertext-6 {
    position: absolute;
    width: 136px;
    top: 198px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.home .futertext-7 {
    position: absolute;
    width: 21px;
    top: 145px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.home .futertext-8 {
    position: absolute;
    width: 22px;
    top: 87px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.home .group-25 {
    position: absolute;
    width: 454px;
    height: 221px;
    top: 0;
    left: 55px;
}

.home .futertext-9 {
    top: 58px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.home .futertext-10 {
    top: 29px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.home .futertext-11 {
    top: 116px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.home .futertext-12 {
    top: 0;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.home .futertext-13 {
    position: absolute;
    width: 173px;
    top: 198px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.home .futertext-14 {
    position: absolute;
    top: 145px;
    left: 1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    cursor: pointer;
}

.home .futertext-15 {
    top: 87px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.home .futertitle {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #e5e5e5;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
}

.home .group-26 {
    position: absolute;
    width: 149px;
    height: 205px;
    top: 40px;
    left: 1115px;
}

.home .futertitle-2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #e5e5e5;
    font-size: 30px;
    letter-spacing: -0.33px;
    line-height: 45px;
    white-space: nowrap;
}

.home .group-27 {
    position: absolute;
    width: 100px;
    height: 140px;
    top: 65px;
    left: 0;
}

.home .group-28 {
    position: absolute;
    width: 403px;
    height: 331px;
    top: 46px;
    left: 1469px;
}

.home .group-29 {
    position: absolute;
    width: 400px;
    height: 282px;
    top: 49px;
    left: 1px;
}

.home .group-30 {
    position: absolute;
    width: 182px;
    height: 282px;
    top: 0;
    left: 218px;
}

.home .futerimage-img {
    position: absolute;
    width: 182px;
    height: 135px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.home .img-11 {
    position: absolute;
    width: 182px;
    height: 135px;
    top: 147px;
    left: 0;
    object-fit: cover;
}

.home .group-31 {
    position: absolute;
    width: 218px;
    height: 125px;
    top: 10px;
    left: 0;
}

.home .group-32 {
    position: absolute;
    width: 222px;
    height: 65px;
    top: 0;
    left: 0;
}

.home .futertext-16 {
    position: absolute;
    width: 174px;
    height: 65px;
    top: 0;
    left: 44px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
}

.home .futericon-img {
    top: 21px;
    position: absolute;
    width: 18px;
    height: 24px;
    left: 0;
}

.home .group-33 {
    position: absolute;
    width: 186px;
    height: 32px;
    top: 93px;
    left: 0;
}

.home .futertext-17 {
    position: absolute;
    width: 139px;
    height: 32px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.home .img-12 {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 5px;
    left: 0;
}

.home .group-34 {
    position: absolute;
    width: 218px;
    height: 124px;
    top: 158px;
    left: 0;
}

.home .group-35 {
    position: absolute;
    width: 222px;
    height: 82px;
    top: 0;
    left: 0;
}

.home .futertext-18 {
    position: absolute;
    width: 175px;
    height: 82px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
}

.home .img-13 {
    top: 33px;
    position: absolute;
    width: 18px;
    height: 24px;
    left: 0;
}

.home .group-36 {
    position: absolute;
    width: 193px;
    height: 32px;
    top: 92px;
    left: 0;
}

.home .futertext-19 {
    position: absolute;
    width: 146px;
    height: 32px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.home .overlap-wrapper {
    position: absolute;
    width: 1924px;
    height: 26px;
    top: 442px;
    left: 0;
}

.home .overlap-2 {
    position: relative;
    width: 1920px;
    height: 26px;
}

.home .overlap-3 {
    position: absolute;
    width: 1920px;
    height: 26px;
    top: 0;
    left: 0;
}

.home .futertext-20 {
    position: absolute;
    width: 202px;
    height: 25px;
    top: 1px;
    left: 1469px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 15px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.home .futerobject-img {
    position: absolute;
    width: 1920px;
    height: 2px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.home .futertext-21 {
    position: absolute;
    width: 237px;
    height: 20px;
    top: 2px;
    left: 245px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff99;
    font-size: 15px;
    letter-spacing: -0.84px;
    line-height: 25px;
    white-space: nowrap;
}

.home .text-wrapper-2 {
    color: #e5e5e5;
    letter-spacing: -0.13px;
}