.screen {
    position: relative;
    width: 1920px;
    height: 3136px;
    background-color: #e5e5e5;
    overflow: hidden;
}

.screen .overlap {
    position: absolute;
    width: 1920px;
    height: 682px;
    top: 1039px;
    left: 0;
    background-color: #27b469;
}

.screen .image {
    width: 1430px;
    height: 515px;
    top: 101px;
    left: 245px;
    position: absolute;
    object-fit: cover;
}

.screen .group {
    position: absolute;
    width: 271px;
    height: 17px;
    top: 42px;
    left: 826px;
}

.screen .horizontal-divider {
    position: absolute;
    width: 50px;
    height: 1px;
    top: 9px;
    left: 0;
    background-color: #14452f;
}

.screen .text-wrapper {
    position: absolute;
    width: 157px;
    height: 17px;
    top: 0;
    left: 57px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.screen .div {
    top: 8px;
    left: 219px;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.screen .overlap-group {
    position: absolute;
    width: 1932px;
    height: 445px;
    top: 0;
    left: 0;
}

.screen .section {
    position: absolute;
    width: 1920px;
    height: 365px;
    top: 80px;
    left: 0;
}

.screen .overlap-group-2 {
    position: relative;
    height: 365px;
    top: 1px;
}

.screen .background {
    position: absolute;
    width: 1920px;
    height: 365px;
    top: 0;
    left: 0;
    background-image: url(./img/background.svg);
    background-size: cover;
    background-position: 50% 50%;
}

.screen .background-2 {
    position: relative;
    height: 365px;
    background-color: #26a4d1b2;
    opacity: 0.8;
}

.screen .link-home {
    width: 79px;
    left: 826px;
    position: absolute;
    height: 24px;
    top: 280px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 23.8px;
    white-space: nowrap;
}

.screen .vertical-divider {
    position: absolute;
    width: 1px;
    height: 14px;
    top: 287px;
    left: 916px;
    background-color: #ffffff;
    transform: rotate(20deg);
    opacity: 0.5;
}

.screen .link-design {
    width: 137px;
    left: 926px;
    position: absolute;
    height: 24px;
    top: 280px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 23.8px;
    white-space: nowrap;
}

.screen .vertical-divider-2 {
    position: absolute;
    width: 1px;
    height: 14px;
    top: 287px;
    left: 1074px;
    background-color: #ffffff;
    transform: rotate(20deg);
    opacity: 0.5;
}

.screen .text-wrapper-2 {
    position: absolute;
    width: 211px;
    height: 24px;
    top: 280px;
    left: 1087px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 23.8px;
    white-space: nowrap;
}

.screen .container {
    height: 1px;
    top: 119px;
    left: 220px;
    position: absolute;
    width: 1480px;
}

.screen .heading-about-us {
    position: absolute;
    width: 502px;
    height: 82px;
    top: -1px;
    left: 489px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 68px;
    text-align: center;
    letter-spacing: -2.38px;
    line-height: 81.6px;
    white-space: nowrap;
}

.screen .heder {
    position: absolute;
    width: 1932px;
    height: 81px;
    top: 0;
    left: 0;
}

.screen .navbar {
    position: relative;
    width: 1920px;
    height: 81px;
    background-color: #363636;
}

.screen .gerb {
    position: absolute;
    width: 57px;
    height: 59px;
    top: 11px;
    left: 114px;
    object-fit: cover;
}

.screen .text-wrapper-3 {
    width: 64px;
    left: 623px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.screen .text-wrapper-4 {
    width: 96px;
    left: 728px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.screen .text-wrapper-5 {
    width: 112px;
    left: 831px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.screen .text-wrapper-6 {
    width: 74px;
    left: 983px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.screen .text-wrapper-7 {
    width: 90px;
    left: 1097px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.screen .text-wrapper-8 {
    width: 72px;
    left: 1227px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    cursor: pointer;
}

.screen .text-wrapper-9 {
    position: absolute;
    width: 634px;
    height: 117px;
    top: 543px;
    left: 643px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 55px;
    letter-spacing: -1.92px;
    line-height: 66px;
}

.screen .p {
    position: absolute;
    width: 984px;
    height: 231px;
    top: 710px;
    left: 680px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .img {
    width: 415px;
    height: 308px;
    top: 673px;
    left: 245px;
    position: absolute;
    object-fit: cover;
}

.screen .overlap-2 {
    position: absolute;
    width: 1480px;
    height: 763px;
    top: 1813px;
    left: 215px;
}

.screen .container-2 {
    height: 763px;
    top: 0;
    left: 0;
    position: absolute;
    width: 1480px;
}

.screen .rectangle {
    position: absolute;
    width: 650px;
    height: 763px;
    top: 0;
    left: 30px;
    background-color: #000000;
}

.screen .horizontal-divider-2 {
    top: 19px;
    left: 800px;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.screen .text-wrapper-10 {
    position: absolute;
    width: 261px;
    height: 17px;
    top: 10px;
    left: 865px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.screen .text-wrapper-11 {
    position: absolute;
    width: 664px;
    height: 273px;
    top: 46px;
    left: 800px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 55px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .text-wrapper-12 {
    position: absolute;
    width: 680px;
    height: 290px;
    top: 344px;
    left: 800px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.screen .image-2 {
    width: 650px;
    height: 763px;
    top: 0;
    left: 30px;
    position: absolute;
    object-fit: cover;
}

.screen .group-2 {
    position: absolute;
    width: 271px;
    height: 17px;
    top: 516px;
    left: 825px;
}

.screen .futer {
    position: absolute;
    width: 1920px;
    height: 468px;
    top: 2668px;
    left: 0;
    background-color: #363636;
}

.screen .group-3 {
    position: absolute;
    width: 147px;
    height: 204px;
    top: 41px;
    left: 1115px;
}

.screen .text-wrapper-13 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: -0.35px;
    line-height: 48px;
    white-space: nowrap;
}

.screen .group-4 {
    position: absolute;
    width: 100px;
    height: 140px;
    top: 64px;
    left: 0;
}

.screen .text-wrapper-14 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-15 {
    position: absolute;
    top: 29px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-16 {
    position: absolute;
    top: 87px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-17 {
    position: absolute;
    top: 116px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-18 {
    position: absolute;
    top: 58px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .group-5 {
    position: absolute;
    width: 403px;
    height: 331px;
    top: 46px;
    left: 1469px;
}

.screen .group-6 {
    position: absolute;
    width: 400px;
    height: 282px;
    top: 49px;
    left: 1px;
}

.screen .group-7 {
    position: absolute;
    width: 182px;
    height: 282px;
    top: 0;
    left: 218px;
}

.screen .image-3 {
    width: 182px;
    height: 135px;
    top: 0;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.screen .image-4 {
    width: 182px;
    height: 135px;
    top: 147px;
    left: 0;
    position: absolute;
    object-fit: cover;
}

.screen .group-8 {
    position: absolute;
    width: 218px;
    height: 125px;
    top: 10px;
    left: 0;
}

.screen .group-9 {
    position: absolute;
    width: 222px;
    height: 65px;
    top: 0;
    left: 0;
}

.screen .element {
    position: absolute;
    width: 174px;
    height: 65px;
    top: 0;
    left: 44px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
}

.screen .symbol {
    width: 18px;
    top: 21px;
    position: absolute;
    height: 24px;
    left: 0;
}

.screen .group-10 {
    position: absolute;
    width: 186px;
    height: 32px;
    top: 93px;
    left: 0;
}

.screen .text-wrapper-19 {
    width: 139px;
    position: absolute;
    height: 32px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.screen .symbol-2 {
    width: 24px;
    top: 5px;
    position: absolute;
    height: 24px;
    left: 0;
}

.screen .group-11 {
    position: absolute;
    width: 218px;
    height: 124px;
    top: 158px;
    left: 0;
}

.screen .group-12 {
    position: absolute;
    width: 222px;
    height: 82px;
    top: 0;
    left: 0;
}

.screen .element-2 {
    position: absolute;
    width: 175px;
    height: 82px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
}

.screen .symbol-3 {
    width: 19px;
    top: 33px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    position: absolute;
    height: 24px;
    left: 0;
}

.screen .group-13 {
    position: absolute;
    width: 193px;
    height: 32px;
    top: 92px;
    left: 0;
}

.screen .text-wrapper-20 {
    width: 146px;
    position: absolute;
    height: 32px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.screen .symbol-4 {
    width: 24px;
    top: 5px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    position: absolute;
    height: 24px;
    left: 0;
}

.screen .group-14 {
    position: absolute;
    width: 150px;
    height: 208px;
    top: 46px;
    left: 245px;
}

.screen .gerb-new {
    position: absolute;
    width: 125px;
    height: 127px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.screen .text-wrapper-21 {
    position: absolute;
    top: 136px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
}

.screen .overlap-wrapper {
    position: absolute;
    width: 1924px;
    height: 26px;
    top: 442px;
    left: 0;
}

.screen .overlap-3 {
    position: relative;
    width: 1920px;
    height: 26px;
}

.screen .overlap-group-3 {
    position: absolute;
    width: 1920px;
    height: 26px;
    top: 0;
    left: 0;
}

.screen .text-wrapper-22 {
    position: absolute;
    width: 202px;
    height: 25px;
    top: 1px;
    left: 1469px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.screen .line {
    position: absolute;
    width: 1920px;
    height: 2px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.screen .element-3 {
    position: absolute;
    width: 237px;
    height: 24px;
    top: 2px;
    left: 245px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff99;
    font-size: 15px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.screen .span {
    letter-spacing: -0.13px;
}

.screen .group-15 {
    position: absolute;
    width: 497px;
    height: 284px;
    top: 46px;
    left: 535px;
}

.screen .overlap-4 {
    position: absolute;
    width: 509px;
    height: 228px;
    top: 56px;
    left: 0;
}

.screen .group-16 {
    position: absolute;
    width: 150px;
    height: 221px;
    top: 7px;
    left: 0;
}

.screen .text-wrapper-23 {
    width: 20px;
    top: 58px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .text-wrapper-24 {
    width: 23px;
    top: 29px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .text-wrapper-25 {
    width: 20px;
    top: 116px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .text-wrapper-26 {
    width: 23px;
    top: 0;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .text-wrapper-27 {
    width: 136px;
    top: 198px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .text-wrapper-28 {
    width: 21px;
    top: 145px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .text-wrapper-29 {
    width: 22px;
    top: 87px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.screen .group-17 {
    position: absolute;
    width: 454px;
    height: 221px;
    top: 0;
    left: 55px;
}

.screen .text-wrapper-30 {
    position: absolute;
    width: 173px;
    top: 198px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.screen .text-wrapper-31 {
    position: absolute;
    top: 145px;
    left: 1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    cursor: pointer;
}

.screen .text-wrapper-32 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}
