.pro-nas {
    position: relative;
    width: 1920px;
    height: 4642px;
    background-color: #e5e5e5;
}

.pro-nas .heder {
    position: absolute;
    width: 1920px;
    height: 80px;
    top: 0;
    left: 0;
}

.pro-nas .navbar {
    position: relative;
    width: 1920px;
    height: 80px;
    background-color: #363636;
}

.pro-nas .gerb {
    position: absolute;
    width: 57px;
    height: 58px;
    top: 11px;
    left: 114px;
    object-fit: cover;
}

.text-wrapper {
    left: 623px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.div {
    left: 728px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.text-wrapper-2 {
    left: 831px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.text-wrapper-3 {
    left: 983px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.text-wrapper-4 {
    left: 1097px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.text-wrapper-5 {
    left: 1227px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.pro-nas .group {
    position: absolute;
    width: 1920px;
    height: 366px;
    top: 80px;
    left: 0;
}

.pro-nas .overlap {
    position: relative;
    height: 366px;
}

.pro-nas .rectangle-wrapper {
    position: absolute;
    width: 1920px;
    height: 366px;
    top: 0;
    left: 0;
    background-image: url(./img/image-68.png);
    background-size: cover;
    background-position: 50% 50%;
}

.pro-nas .rectangle {
    height: 365px;
    background-color: #26a4d1b2;
    opacity: 0.8;
}

.pro-nas .baner {
    position: absolute;
    width: 1920px;
    height: 365px;
    top: 0;
    left: 0;
}

.pro-nas .container {
    position: absolute;
    width: 1480px;
    height: 1px;
    top: 120px;
    left: 220px;
}

.pro-nas .heading-about-us {
    position: absolute;
    width: 286px;
    height: 82px;
    top: -2px;
    left: 597px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 68px;
    text-align: center;
    letter-spacing: -2.38px;
    line-height: 81.6px;
    white-space: nowrap;
}

.pro-nas .link-home {
    position: absolute;
    width: 77px;
    height: 24px;
    top: 220px;
    left: 871px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 23.8px;
    white-space: nowrap;
}

.pro-nas .vertical-divider {
    position: absolute;
    width: 1px;
    height: 14px;
    top: 227px;
    left: 959px;
    background-color: #e5e5e5;
    transform: rotate(20deg);
    opacity: 0.5;
}

.pro-nas .text-wrapper-6 {
    position: absolute;
    width: 77px;
    height: 24px;
    top: 220px;
    left: 972px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 23.8px;
    white-space: nowrap;
}

.pro-nas .group-2 {
    position: absolute;
    width: 1328px;
    height: 696px;
    top: 497px;
    left: 250px;
}

.pro-nas .overlap-group-wrapper {
    position: absolute;
    width: 1328px;
    height: 627px;
    top: 69px;
    left: 0;
}

.pro-nas .overlap-group {
    position: relative;
    width: 1360px;
    height: 627px;
}

.pro-nas .group-3 {
    position: absolute;
    width: 65px;
    height: 607px;
    top: 17px;
    left: 0;
}

.pro-nas .text-wrapper-7 {
    position: absolute;
    width: 27px;
    height: 16px;
    top: 259px;
    left: 6px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .element {
    position: absolute;
    width: 29px;
    height: 24px;
    top: 122px;
    left: 4px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-8 {
    position: absolute;
    width: 27px;
    height: 26px;
    top: 199px;
    left: 6px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-9 {
    position: absolute;
    width: 27px;
    height: 16px;
    top: 161px;
    left: 6px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-10 {
    position: absolute;
    width: 29px;
    height: 9px;
    top: 87px;
    left: 4px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.pro-nas .text-wrapper-11 {
    position: absolute;
    height: 16px;
    top: 310px;
    left: 6px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-12 {
    position: absolute;
    height: 16px;
    top: 353px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-13 {
    position: absolute;
    height: 16px;
    top: 387px;
    left: 5px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-14 {
    position: absolute;
    height: 16px;
    top: 421px;
    left: 2px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-15 {
    position: absolute;
    height: 16px;
    top: 455px;
    left: 1px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-16 {
    position: absolute;
    height: 16px;
    top: 489px;
    left: 1px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-17 {
    position: absolute;
    height: 16px;
    top: 523px;
    left: 5px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-18 {
    position: absolute;
    height: 16px;
    top: 557px;
    left: 6px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-19 {
    position: absolute;
    height: 16px;
    top: 591px;
    left: 2px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-20 {
    position: absolute;
    width: 28px;
    height: 9px;
    top: 43px;
    left: 5px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.pro-nas .text-wrapper-21 {
    position: absolute;
    width: 25px;
    height: 9px;
    top: 0;
    left: 8px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.pro-nas .group-4 {
    position: absolute;
    width: 1296px;
    height: 627px;
    top: 0;
    left: 64px;
}

.pro-nas .p {
    position: absolute;
    width: 1264px;
    height: 42px;
    top: 0;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-22 {
    position: absolute;
    height: 21px;
    top: 54px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-23 {
    position: absolute;
    width: 1264px;
    height: 42px;
    top: 87px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-24 {
    position: absolute;
    height: 21px;
    top: 141px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-25 {
    position: absolute;
    height: 21px;
    top: 175px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-26 {
    position: absolute;
    width: 1264px;
    height: 42px;
    top: 208px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-27 {
    position: absolute;
    width: 1264px;
    height: 42px;
    top: 261px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-28 {
    position: absolute;
    width: 1264px;
    height: 42px;
    top: 314px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-29 {
    position: absolute;
    height: 21px;
    top: 368px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-30 {
    position: absolute;
    height: 21px;
    top: 402px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-31 {
    position: absolute;
    height: 21px;
    top: 436px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-32 {
    position: absolute;
    height: 21px;
    top: 470px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-33 {
    position: absolute;
    height: 21px;
    top: 504px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-34 {
    position: absolute;
    height: 21px;
    top: 538px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-35 {
    position: absolute;
    height: 21px;
    top: 572px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .text-wrapper-36 {
    position: absolute;
    height: 21px;
    top: 606px;
    left: 0;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .img {
    position: absolute;
    width: 11px;
    height: 606px;
    top: 16px;
    left: 43px;
}

.pro-nas .group-5 {
    position: absolute;
    width: 315px;
    height: 17px;
    top: 0;
    left: 554px;
}

.pro-nas .text-wrapper-37 {
    position: absolute;
    width: 194px;
    height: 17px;
    top: 0;
    left: 60px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.pro-nas .horizontal-divider {
    position: absolute;
    width: 50px;
    height: 1px;
    top: 9px;
    left: 263px;
    background-color: #14452f;
}

.pro-nas .horizontal-divider-2 {
    top: 9px;
    left: 0;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.pro-nas .section {
    position: absolute;
    width: 1920px;
    height: 1003px;
    top: 1259px;
    left: 0;
    background-color: #27b469;
}

.pro-nas .group-6 {
    position: relative;
    width: 1436px;
    height: 764px;
    top: 118px;
    left: 250px;
}

.pro-nas .horizontal-divider-3 {
    top: 84px;
    left: 770px;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.pro-nas .text-wrapper-38 {
    position: absolute;
    width: 261px;
    height: 17px;
    top: 76px;
    left: 835px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.pro-nas .heading {
    position: absolute;
    width: 650px;
    height: 198px;
    top: 113px;
    left: 770px;
}

.pro-nas .text-wrapper-39 {
    position: absolute;
    width: 664px;
    height: 198px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 51px;
    letter-spacing: -1.92px;
    line-height: 66px;
}

.pro-nas .text-wrapper-40 {
    position: absolute;
    width: 647px;
    height: 54px;
    top: 329px;
    left: 770px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 27.2px;
}

.pro-nas .text-wrapper-41 {
    position: absolute;
    width: 88px;
    height: 16px;
    top: 421px;
    left: 770px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.pro-nas .text-wrapper-42 {
    position: absolute;
    width: 21px;
    height: 16px;
    top: 421px;
    left: 1385px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.pro-nas .text-wrapper-43 {
    position: absolute;
    width: 93px;
    height: 16px;
    top: 490px;
    left: 770px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.pro-nas .text-wrapper-44 {
    position: absolute;
    width: 21px;
    height: 16px;
    top: 490px;
    left: 1385px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.pro-nas .text-wrapper-45 {
    position: absolute;
    width: 124px;
    height: 16px;
    top: 559px;
    left: 770px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.pro-nas .text-wrapper-46 {
    position: absolute;
    width: 20px;
    height: 16px;
    top: 559px;
    left: 1386px;
    font-family: "Manrope-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
}

.pro-nas .div-wrapper {
    position: absolute;
    width: 650px;
    height: 13px;
    top: 451px;
    left: 770px;
}

.pro-nas .overlap-group-2 {
    position: relative;
    height: 13px;
}

.pro-nas .rectangle-2 {
    position: absolute;
    width: 572px;
    height: 13px;
    top: 0;
    left: 0;
    background-color: #034737;
    border-radius: 6.5px;
}

.pro-nas .rectangle-3 {
    position: absolute;
    width: 84px;
    height: 13px;
    top: 0;
    left: 566px;
    background-color: #d9d9d9;
    border-radius: 6.5px;
}

.pro-nas .rectangle-4 {
    position: absolute;
    width: 7px;
    height: 13px;
    top: 0;
    left: 565px;
    background-color: #034737;
}

.pro-nas .overlap-wrapper {
    position: absolute;
    width: 650px;
    height: 13px;
    top: 589px;
    left: 770px;
}

.pro-nas .rectangle-5 {
    width: 540px;
    position: absolute;
    height: 13px;
    top: 0;
    left: 0;
    background-color: #034737;
    border-radius: 6.5px;
}

.pro-nas .rectangle-6 {
    width: 115px;
    left: 535px;
    position: absolute;
    height: 13px;
    top: 0;
    background-color: #d9d9d9;
    border-radius: 6.5px;
}

.pro-nas .rectangle-7 {
    left: 534px;
    position: absolute;
    width: 7px;
    height: 13px;
    top: 0;
    background-color: #034737;
}

.pro-nas .element-2 {
    position: absolute;
    width: 650px;
    height: 13px;
    top: 520px;
    left: 770px;
}

.pro-nas .rectangle-8 {
    width: 503px;
    position: absolute;
    height: 13px;
    top: 0;
    left: 0;
    background-color: #034737;
    border-radius: 6.5px;
}

.pro-nas .rectangle-9 {
    width: 152px;
    left: 498px;
    position: absolute;
    height: 13px;
    top: 0;
    background-color: #d9d9d9;
    border-radius: 6.5px;
}

.pro-nas .rectangle-10 {
    left: 497px;
    position: absolute;
    width: 7px;
    height: 13px;
    top: 0;
    background-color: #034737;
}

.pro-nas .new-rectangle {
    position: absolute;
    width: 650px;
    height: 764px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.pro-nas .group-7 {
    position: absolute;
    width: 1422px;
    height: 1688px;
    top: 2381px;
    left: 250px;
}

.pro-nas .section-2 {
    position: absolute;
    width: 1420px;
    height: 113px;
    top: 0;
    left: 0;
}

.pro-nas .horizontal-divider-4 {
    top: 18px;
    left: 0;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.pro-nas .text-wrapper-47 {
    position: absolute;
    width: 116px;
    height: 17px;
    top: 9px;
    left: 65px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.pro-nas .heading-2 {
    position: absolute;
    width: 712px;
    height: 66px;
    top: 47px;
    left: 0;
}

.pro-nas .text-wrapper-48 {
    position: absolute;
    width: 712px;
    height: 66px;
    top: -1px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 55px;
    letter-spacing: -1.92px;
    line-height: 66px;
    white-space: nowrap;
}

.pro-nas .group-8 {
    position: absolute;
    width: 1422px;
    height: 1506px;
    top: 182px;
    left: 0;
}

.pro-nas .section-3 {
    position: absolute;
    width: 1420px;
    height: 525px;
    top: 981px;
    left: 0;
}

.pro-nas .background {
    left: 0;
    position: absolute;
    width: 334px;
    height: 525px;
    top: 0;
    background-color: #22281e;
    border-radius: 7px;
    overflow: hidden;
}

.pro-nas .overlap-group-3 {
    position: relative;
    height: 525px;
}

.pro-nas .image {
    width: 334px;
    height: 394px;
    top: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.pro-nas .paragraph-background {
    position: absolute;
    width: 334px;
    height: 132px;
    top: 393px;
    left: 0;
    background-color: #4a5659;
}

.pro-nas .heading-link {
    width: 108px;
    left: 70px;
    position: absolute;
    height: 30px;
    top: 28px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 30px;
    white-space: nowrap;
}

.pro-nas .heading-social {
    width: 102px;
    height: 19px;
    top: 73px;
    left: 116px;
    position: absolute;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.56px;
    line-height: 19.2px;
    white-space: nowrap;
}

.pro-nas .background-2 {
    left: 362px;
    position: absolute;
    width: 334px;
    height: 525px;
    top: 0;
    background-color: #22281e;
    border-radius: 7px;
    overflow: hidden;
}

.pro-nas .heading-link-2 {
    width: 113px;
    left: 70px;
    position: absolute;
    height: 30px;
    top: 28px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 30px;
    white-space: nowrap;
}

.pro-nas .heading-math {
    position: absolute;
    width: 105px;
    height: 19px;
    top: 72px;
    left: 115px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.56px;
    line-height: 19.2px;
    white-space: nowrap;
}

.pro-nas .background-3 {
    left: 724px;
    position: absolute;
    width: 334px;
    height: 525px;
    top: 0;
    background-color: #22281e;
    border-radius: 7px;
    overflow: hidden;
}

.pro-nas .overlap-2 {
    position: relative;
    width: 337px;
    height: 527px;
    top: -2px;
    left: -2px;
}

.pro-nas .new-webp {
    background-image: url(./img/new-3-webp-2.png);
    position: absolute;
    width: 337px;
    height: 396px;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.pro-nas .image-2 {
    position: absolute;
    width: 334px;
    height: 395px;
    top: 2px;
    left: 2px;
    object-fit: cover;
}

.pro-nas .paragraph-background-2 {
    position: absolute;
    width: 334px;
    height: 132px;
    top: 395px;
    left: 2px;
    background-color: #4a5659;
}

.pro-nas .heading-link-3 {
    width: 117px;
    left: 87px;
    position: absolute;
    height: 30px;
    top: 28px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 30px;
    white-space: nowrap;
}

.pro-nas .heading-chemistry {
    position: absolute;
    width: 134px;
    height: 19px;
    top: 73px;
    left: 100px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.56px;
    line-height: 19.2px;
    white-space: nowrap;
}

.pro-nas .background-4 {
    left: 1086px;
    position: absolute;
    width: 334px;
    height: 525px;
    top: 0;
    background-color: #22281e;
    border-radius: 7px;
    overflow: hidden;
}

.pro-nas .image-wrapper {
    background-image: url(./img/new-4-webp-2.png);
    position: absolute;
    width: 337px;
    height: 396px;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.pro-nas .heading-link-4 {
    width: 192px;
    left: 71px;
    position: absolute;
    height: 30px;
    top: 28px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 30px;
    white-space: nowrap;
}

.pro-nas .heading-computer {
    position: absolute;
    width: 209px;
    height: 19px;
    top: 72px;
    left: 63px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.56px;
    line-height: 19.2px;
    white-space: nowrap;
}

.pro-nas .section-4 {
    position: absolute;
    width: 1420px;
    height: 525px;
    top: 402px;
    left: 2px;
}

.pro-nas .heading-link-5 {
    position: absolute;
    width: 143px;
    height: 30px;
    top: 29px;
    left: 96px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 30px;
    white-space: nowrap;
}

.pro-nas .heading-social-2 {
    width: 163px;
    height: 20px;
    top: 71px;
    left: 92px;
    position: absolute;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.56px;
    line-height: 19.2px;
    white-space: nowrap;
}

.pro-nas .heading-link-6 {
    position: absolute;
    width: 230px;
    height: 30px;
    top: 29px;
    left: 52px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 30px;
    white-space: nowrap;
}

.pro-nas .heading-social-3 {
    position: absolute;
    width: 163px;
    height: 20px;
    top: 71px;
    left: 86px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.56px;
    line-height: 19.2px;
    white-space: nowrap;
}

.pro-nas .img-wrapper {
    background-image: url(./img/new-3-webp.png);
    position: absolute;
    width: 337px;
    height: 396px;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.pro-nas .heading-link-7 {
    position: absolute;
    width: 275px;
    height: 30px;
    top: 29px;
    left: 30px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 30px;
    white-space: nowrap;
}

.pro-nas .new-webp-2 {
    background-image: url(./img/new-4-webp.png);
    position: absolute;
    width: 337px;
    height: 396px;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.pro-nas .heading-link-8 {
    position: absolute;
    width: 159px;
    height: 30px;
    top: 29px;
    left: 81px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    letter-spacing: -0.88px;
    line-height: 30px;
    white-space: nowrap;
}

.pro-nas .group-9 {
    position: absolute;
    width: 1258px;
    height: 348px;
    top: 0;
    left: 2px;
}

.pro-nas .image-3 {
    width: 514px;
    height: 348px;
    top: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.pro-nas .group-10 {
    position: absolute;
    width: 718px;
    height: 291px;
    top: 0;
    left: 546px;
}

.pro-nas .overlap-group-4 {
    position: absolute;
    width: 712px;
    height: 255px;
    top: 36px;
    left: 0;
}

.pro-nas .text-wrapper-49 {
    position: absolute;
    width: 712px;
    height: 66px;
    top: 0;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 55px;
    letter-spacing: -1.92px;
    line-height: 66px;
    white-space: nowrap;
}

.pro-nas .heading-computer-2 {
    position: absolute;
    width: 288px;
    height: 59px;
    top: 63px;
    left: 0;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #22281e;
    font-size: 16px;
    letter-spacing: -0.56px;
    line-height: 19.2px;
}

.pro-nas .element-3 {
    position: absolute;
    width: 625px;
    height: 135px;
    top: 120px;
    left: 0;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #22281e;
    font-size: 16px;
    letter-spacing: -0.56px;
    line-height: 19.2px;
}

.pro-nas .group-11 {
    position: absolute;
    width: 201px;
    height: 17px;
    top: 0;
    left: 0;
}

.pro-nas .horizontal-divider-5 {
    top: 8px;
    left: 0;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #14452f;
}

.pro-nas .text-wrapper-50 {
    position: absolute;
    width: 134px;
    height: 17px;
    top: 0;
    left: 65px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.pro-nas .futer {
    position: absolute;
    width: 1920px;
    height: 468px;
    top: 4174px;
    left: 0;
    background-color: #363636;
}

.pro-nas .group-12 {
    position: absolute;
    width: 147px;
    height: 204px;
    top: 41px;
    left: 1115px;
}

.pro-nas .text-wrapper-51 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: -0.35px;
    line-height: 48px;
    white-space: nowrap;
}

.pro-nas .group-13 {
    position: absolute;
    width: 100px;
    height: 140px;
    top: 64px;
    left: 0;
}

.pro-nas .text-wrapper-52 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.pro-nas .text-wrapper-53 {
    position: absolute;
    top: 29px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.pro-nas .text-wrapper-54 {
    position: absolute;
    top: 87px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.pro-nas .text-wrapper-55 {
    position: absolute;
    top: 116px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.pro-nas .text-wrapper-56 {
    position: absolute;
    top: 58px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.pro-nas .group-14 {
    position: absolute;
    width: 403px;
    height: 331px;
    top: 46px;
    left: 1469px;
}

.pro-nas .group-15 {
    position: absolute;
    width: 400px;
    height: 282px;
    top: 49px;
    left: 1px;
}

.pro-nas .group-16 {
    position: absolute;
    width: 182px;
    height: 282px;
    top: 0;
    left: 218px;
}

.pro-nas .image-4 {
    width: 182px;
    height: 135px;
    top: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.pro-nas .image-5 {
    width: 182px;
    height: 135px;
    top: 147px;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.pro-nas .group-17 {
    position: absolute;
    width: 218px;
    height: 125px;
    top: 10px;
    left: 0;
}

.pro-nas .group-18 {
    position: absolute;
    width: 222px;
    height: 65px;
    top: 0;
    left: 0;
}

.pro-nas .element-4 {
    position: absolute;
    width: 174px;
    height: 65px;
    top: 0;
    left: 44px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
}

.pro-nas .symbol {
    width: 18px;
    top: 21px;
    position: absolute;
    height: 24px;
    left: 0;
}

.pro-nas .group-19 {
    position: absolute;
    width: 186px;
    height: 32px;
    top: 93px;
    left: 0;
}

.pro-nas .text-wrapper-57 {
    width: 139px;
    position: absolute;
    height: 32px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.pro-nas .symbol-2 {
    width: 24px;
    top: 5px;
    position: absolute;
    height: 24px;
    left: 0;
}

.pro-nas .group-20 {
    position: absolute;
    width: 218px;
    height: 124px;
    top: 158px;
    left: 0;
}

.pro-nas .group-21 {
    position: absolute;
    width: 222px;
    height: 82px;
    top: 0;
    left: 0;
}

.pro-nas .element-5 {
    position: absolute;
    width: 175px;
    height: 82px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
}

.pro-nas .symbol-3 {
    width: 19px;
    top: 33px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    position: absolute;
    height: 24px;
    left: 0;
}

.pro-nas .group-22 {
    position: absolute;
    width: 193px;
    height: 32px;
    top: 92px;
    left: 0;
}

.pro-nas .text-wrapper-58 {
    width: 146px;
    position: absolute;
    height: 32px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.pro-nas .symbol-4 {
    width: 24px;
    top: 5px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    position: absolute;
    height: 24px;
    left: 0;
}

.pro-nas .group-23 {
    position: absolute;
    width: 150px;
    height: 208px;
    top: 46px;
    left: 245px;
}

.pro-nas .gerb-new {
    position: absolute;
    width: 125px;
    height: 127px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.pro-nas .text-wrapper-59 {
    position: absolute;
    top: 136px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
}

.pro-nas .group-24 {
    position: absolute;
    width: 1920px;
    height: 26px;
    top: 442px;
    left: 0;
}

.pro-nas .overlap-3 {
    position: relative;
    width: 1920px;
    height: 26px;
}

.pro-nas .overlap-group-5 {
    position: absolute;
    width: 1920px;
    height: 26px;
    top: 0;
    left: 0;
}

.pro-nas .text-wrapper-60 {
    position: absolute;
    width: 202px;
    height: 25px;
    top: 1px;
    left: 1469px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.pro-nas .line {
    position: absolute;
    width: 1920px;
    height: 2px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.pro-nas .element-6 {
    position: absolute;
    width: 237px;
    height: 24px;
    top: 2px;
    left: 245px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff99;
    font-size: 15px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.pro-nas .span {
    letter-spacing: -0.13px;
}

.pro-nas .group-25 {
    position: absolute;
    width: 497px;
    height: 284px;
    top: 46px;
    left: 535px;
}

.pro-nas .overlap-4 {
    position: absolute;
    width: 509px;
    height: 228px;
    top: 56px;
    left: 0;
}

.pro-nas .group-26 {
    position: absolute;
    width: 150px;
    height: 221px;
    top: 7px;
    left: 0;
}

.pro-nas .text-wrapper-61 {
    position: absolute;
    width: 20px;
    top: 58px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.pro-nas .text-wrapper-62 {
    position: absolute;
    width: 23px;
    top: 29px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.pro-nas .text-wrapper-63 {
    position: absolute;
    width: 20px;
    top: 116px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.pro-nas .text-wrapper-64 {
    position: absolute;
    width: 23px;
    top: 0;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.pro-nas .text-wrapper-65 {
    position: absolute;
    width: 136px;
    top: 198px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.pro-nas .text-wrapper-66 {
    position: absolute;
    width: 21px;
    top: 145px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.pro-nas .text-wrapper-67 {
    position: absolute;
    width: 22px;
    top: 87px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.pro-nas .group-27 {
    position: absolute;
    width: 454px;
    height: 221px;
    top: 0;
    left: 55px;
}

.pro-nas .text-wrapper-68 {
    position: absolute;
    width: 173px;
    top: 198px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.pro-nas .text-wrapper-69 {
    position: absolute;
    top: 145px;
    left: 1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    cursor: pointer;
}

.pro-nas .text-wrapper-70 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.pro-nas .textbloh {
    position: absolute;
    width: 190px;
    height: 17px;
    top: 4099px;
    left: 865px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.pro-nas .object {
    position: absolute;
    width: 200px;
    height: 1px;
    top: 4116px;
    left: 860px;
    object-fit: cover;
}