.spe {
    position: relative;
    width: 1920px;
    height: 3668px;
    background-color: #e5e5e5;
    overflow: hidden;
}

.spe .heder {
    position: absolute;
    width: 1932px;
    height: 80px;
    top: 0;
    left: 0;
}

.spe .navbar {
    position: relative;
    width: 1920px;
    height: 80px;
    background-color: #363636;
}

.spe .gerb {
    position: absolute;
    width: 57px;
    height: 58px;
    top: 11px;
    left: 114px;
    object-fit: cover;
}

.text-wrapper {
    left: 623px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.div {
    left: 728px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.text-wrapper-2 {
    left: 831px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.text-wrapper-3 {
    left: 983px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.text-wrapper-4 {
    left: 1097px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.text-wrapper-5 {
    left: 1227px;
    position: absolute;
    top: 31px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    cursor: pointer;
}

.spe .group {
    position: absolute;
    width: 1132px;
    height: 2450px;
    top: 523px;
    left: 394px;
}

.spe .group-2 {
    position: absolute;
    width: 270px;
    height: 17px;
    top: 0;
    left: 420px;
}

.spe .horizontal-divider {
    position: absolute;
    width: 50px;
    height: 1px;
    top: 9px;
    left: 0;
    background-color: #14452f;
}

.spe .text-wrapper-6 {
    position: absolute;
    width: 156px;
    height: 17px;
    top: 0;
    left: 57px;
    font-family: "Manrope-SemiBold", Helvetica;
    font-weight: 600;
    color: #14452f;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.8px;
    line-height: 16.8px;
    white-space: nowrap;
}

.spe .horizontal-divider-2 {
    left: 218px;
    position: absolute;
    width: 50px;
    height: 1px;
    top: 8px;
    background-color: #14452f;
}

.spe .group-3 {
    position: absolute;
    width: 1125px;
    height: 393px;
    top: 106px;
    left: 0;
}

.spe .bdaaa-bf-e {
    position: absolute;
    width: 391px;
    height: 391px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.spe .group-4 {
    position: absolute;
    width: 709px;
    height: 351px;
    top: 42px;
    left: 420px;
}

.spe .group-5 {
    position: absolute;
    width: 215px;
    height: 17px;
    top: 0;
    left: 0;
}

.spe .div-2 {
    position: absolute;
    width: 705px;
    height: 132px;
    top: 36px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 55px;
    letter-spacing: -1.92px;
    line-height: 66px;
}

.spe .p {
    position: absolute;
    width: 705px;
    height: 88px;
    top: 183px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: -0.56px;
    line-height: normal;
}

.spe .group-6 {
    position: absolute;
    width: 517px;
    height: 50px;
    top: 301px;
    left: 0;
}

.spe .heading-link {
    width: 455px;
    height: 28px;
    top: 12px;
    left: 60px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    position: absolute;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .categorey-icon-svg {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}

.spe .group-7 {
    position: absolute;
    width: 1079px;
    height: 541px;
    top: 803px;
    left: 53px;
}

.spe .image {
    width: 284px;
    height: 284px;
    top: 17px;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.spe .group-8 {
    position: absolute;
    width: 716px;
    height: 541px;
    top: 0;
    left: 367px;
}

.spe .horizontal-divider-3 {
    left: 0;
    position: absolute;
    width: 50px;
    height: 1px;
    top: 8px;
    background-color: #14452f;
}

.spe .text-wrapper-7 {
    position: absolute;
    width: 705px;
    height: 118px;
    top: 183px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: -0.52px;
    line-height: 23px;
}

.spe .group-9 {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 331px;
    left: 0;
}

.spe .heading-link-2 {
    width: 138px;
    height: 30px;
    top: 10px;
    left: 60px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    position: absolute;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .group-10 {
    position: absolute;
    width: 412px;
    height: 50px;
    top: 411px;
    left: 0;
}

.spe .heading-link-3 {
    position: absolute;
    width: 350px;
    height: 28px;
    top: 11px;
    left: 60px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 24px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .group-11 {
    position: absolute;
    width: 709px;
    height: 50px;
    top: 491px;
    left: 5px;
}

.spe .img {
    position: absolute;
    width: 40px;
    height: 50px;
    top: 0;
    left: 0;
}

.spe .heading-link-4 {
    width: 652px;
    height: 39px;
    top: 5px;
    left: 55px;
    letter-spacing: -0.26px;
    line-height: 36px;
    position: absolute;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .group-12 {
    position: absolute;
    width: 1074px;
    height: 413px;
    top: 1433px;
    left: 51px;
}

.spe .image-2 {
    width: 288px;
    height: 288px;
    top: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.spe .group-13 {
    position: absolute;
    width: 709px;
    height: 388px;
    top: 25px;
    left: 369px;
}

.spe .span {
    letter-spacing: -1.06px;
}

.spe .text-wrapper-8 {
    position: absolute;
    width: 705px;
    height: 45px;
    top: 183px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: -0.52px;
    line-height: 23px;
}

.spe .group-14 {
    position: absolute;
    width: 445px;
    height: 50px;
    top: 258px;
    left: 0;
}

.spe .heading-link-5 {
    position: absolute;
    width: 383px;
    height: 48px;
    top: 1px;
    left: 60px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 24px;
    letter-spacing: -0.26px;
    line-height: 36px;
    cursor: pointer;
}

.spe .group-15 {
    position: absolute;
    width: 356px;
    height: 50px;
    top: 338px;
    left: 0;
}

.spe .heading-link-6 {
    position: absolute;
    width: 294px;
    height: 30px;
    top: 10px;
    left: 60px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 24px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .group-16 {
    position: absolute;
    width: 1088px;
    height: 347px;
    top: 2103px;
    left: 37px;
}

.spe .image-3 {
    width: 317px;
    height: 328px;
    top: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.spe .group-17 {
    position: absolute;
    width: 709px;
    height: 337px;
    top: 10px;
    left: 383px;
}

.spe .text-wrapper-9 {
    position: absolute;
    width: 705px;
    height: 63px;
    top: 36px;
    left: 0;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #22281e;
    font-size: 55px;
    letter-spacing: -1.92px;
    line-height: 66px;
    white-space: nowrap;
}

.spe .text-wrapper-10 {
    position: absolute;
    width: 705px;
    height: 66px;
    top: 114px;
    left: 0;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #394630;
    font-size: 16px;
    letter-spacing: -0.56px;
    line-height: normal;
}

.spe .group-18 {
    position: absolute;
    width: 356px;
    height: 50px;
    top: 287px;
    left: 0;
}

.spe .group-19 {
    position: absolute;
    width: 292px;
    height: 47px;
    top: 210px;
    left: 7px;
}

.spe .restaurant {
    position: absolute;
    width: 36px;
    height: 47px;
    top: 0;
    left: 0;
}

.spe .heading-link-7 {
    position: absolute;
    width: 237px;
    height: 30px;
    top: 9px;
    left: 53px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    letter-spacing: -0.26px;
    line-height: 36px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .overlap-wrapper {
    position: absolute;
    width: 1920px;
    height: 366px;
    top: 80px;
    left: 0;
}

.spe .overlap {
    position: relative;
    height: 366px;
}

.spe .rectangle-wrapper {
    position: absolute;
    width: 1920px;
    height: 366px;
    top: 0;
    left: 0;
    background-image: url(./img/image-68.png);
    background-size: cover;
    background-position: 50% 50%;
}

.spe .rectangle {
    height: 365px;
    background-color: #26a4d1b2;
    opacity: 0.8;
}

.spe .baner {
    position: absolute;
    width: 1920px;
    height: 365px;
    top: 0;
    left: 0;
}

.spe .container {
    position: absolute;
    width: 1480px;
    height: 1px;
    top: 120px;
    left: 220px;
}

.spe .heading-about-us {
    position: absolute;
    width: 483px;
    height: 82px;
    top: -4px;
    left: 498px;
    font-family: "DM Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 68px;
    text-align: center;
    letter-spacing: -2.38px;
    line-height: 81.6px;
    white-space: nowrap;
}

.spe .link-home {
    position: absolute;
    width: 77px;
    height: 24px;
    top: 217px;
    left: 843px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 23.8px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .vertical-divider {
    position: absolute;
    width: 1px;
    height: 14px;
    top: 224px;
    left: 931px;
    background-color: #e5e5e5;
    transform: rotate(20deg);
    opacity: 0.5;
}

.spe .text-wrapper-11 {
    position: absolute;
    width: 132px;
    height: 24px;
    top: 217px;
    left: 944px;
    font-family: "Manrope-Medium", Helvetica;
    font-weight: 500;
    color: #e5e5e5;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1.6px;
    line-height: 23.8px;
    white-space: nowrap;
}

.spe .futer {
    position: absolute;
    width: 1920px;
    height: 468px;
    top: 3200px;
    left: 0;
    background-color: #363636;
}

.spe .group-20 {
    position: absolute;
    width: 147px;
    height: 204px;
    top: 41px;
    left: 1115px;
}

.spe .text-wrapper-12 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: -0.35px;
    line-height: 48px;
    white-space: nowrap;
}

.spe .group-21 {
    position: absolute;
    width: 100px;
    height: 140px;
    top: 64px;
    left: 0;
}

.spe .text-wrapper-13 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .text-wrapper-14 {
    position: absolute;
    top: 29px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .text-wrapper-15 {
    position: absolute;
    top: 87px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .text-wrapper-16 {
    position: absolute;
    top: 116px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .text-wrapper-17 {
    position: absolute;
    top: 58px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .group-22 {
    position: absolute;
    width: 403px;
    height: 331px;
    top: 46px;
    left: 1469px;
}

.spe .group-23 {
    position: absolute;
    width: 400px;
    height: 282px;
    top: 49px;
    left: 1px;
}

.spe .group-24 {
    position: absolute;
    width: 182px;
    height: 282px;
    top: 0;
    left: 218px;
}

.spe .image-4 {
    width: 182px;
    height: 135px;
    top: 0;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.spe .image-5 {
    width: 182px;
    height: 135px;
    top: 147px;
    position: absolute;
    left: 0;
    object-fit: cover;
}

.spe .group-25 {
    position: absolute;
    width: 218px;
    height: 125px;
    top: 10px;
    left: 0;
}

.spe .group-26 {
    position: absolute;
    width: 222px;
    height: 65px;
    top: 0;
    left: 0;
}

.spe .element {
    position: absolute;
    width: 174px;
    height: 65px;
    top: 0;
    left: 44px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
}

.spe .symbol {
    width: 18px;
    top: 21px;
    position: absolute;
    height: 24px;
    left: 0;
}

.spe .group-27 {
    position: absolute;
    width: 186px;
    height: 32px;
    top: 93px;
    left: 0;
}

.spe .text-wrapper-18 {
    width: 139px;
    position: absolute;
    height: 32px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.spe .symbol-2 {
    width: 24px;
    top: 5px;
    position: absolute;
    height: 24px;
    left: 0;
}

.spe .group-28 {
    position: absolute;
    width: 218px;
    height: 124px;
    top: 158px;
    left: 0;
}

.spe .group-29 {
    position: absolute;
    width: 222px;
    height: 82px;
    top: 0;
    left: 0;
}

.spe .element-2 {
    position: absolute;
    width: 175px;
    height: 82px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
}

.spe .symbol-3 {
    width: 19px;
    top: 33px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    position: absolute;
    height: 24px;
    left: 0;
}

.spe .group-30 {
    position: absolute;
    width: 193px;
    height: 32px;
    top: 92px;
    left: 0;
}

.spe .text-wrapper-19 {
    width: 146px;
    position: absolute;
    height: 32px;
    top: 0;
    left: 43px;
    font-family: "Manrope-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 32.4px;
    white-space: nowrap;
}

.spe .symbol-4 {
    width: 24px;
    top: 5px;
    font-family: "Font Awesome 5 Free-Solid", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    position: absolute;
    height: 24px;
    left: 0;
}

.spe .group-31 {
    position: absolute;
    width: 150px;
    height: 208px;
    top: 46px;
    left: 245px;
}

.spe .gerb-new {
    position: absolute;
    width: 125px;
    height: 127px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.spe .text-wrapper-20 {
    position: absolute;
    top: 136px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
}

.spe .overlap-group-wrapper {
    position: absolute;
    width: 1924px;
    height: 26px;
    top: 442px;
    left: 0;
}

.spe .overlap-group {
    position: relative;
    width: 1920px;
    height: 26px;
}

.spe .overlap-group-2 {
    position: absolute;
    width: 1920px;
    height: 26px;
    top: 0;
    left: 0;
}

.spe .text-wrapper-21 {
    position: absolute;
    width: 202px;
    height: 25px;
    top: 1px;
    left: 1469px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.spe .line {
    position: absolute;
    width: 1920px;
    height: 2px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.spe .element-3 {
    position: absolute;
    width: 237px;
    height: 24px;
    top: 2px;
    left: 245px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff99;
    font-size: 15px;
    letter-spacing: -0.84px;
    line-height: 28.8px;
    white-space: nowrap;
}

.spe .text-wrapper-22 {
    letter-spacing: -0.13px;
}

.spe .group-32 {
    position: absolute;
    width: 497px;
    height: 284px;
    top: 46px;
    left: 535px;
}

.spe .overlap-2 {
    position: absolute;
    width: 509px;
    height: 228px;
    top: 56px;
    left: 0;
}

.spe .group-33 {
    position: absolute;
    width: 150px;
    height: 221px;
    top: 7px;
    left: 0;
}

.spe .text-wrapper-23 {
    width: 20px;
    top: 58px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.spe .text-wrapper-24 {
    width: 23px;
    top: 29px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.spe .text-wrapper-25 {
    width: 20px;
    top: 116px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.spe .text-wrapper-26 {
    width: 23px;
    top: 0;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.spe .text-wrapper-27 {
    width: 136px;
    top: 198px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.spe .text-wrapper-28 {
    width: 21px;
    top: 145px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.spe .text-wrapper-29 {
    width: 22px;
    top: 87px;
    position: absolute;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: -0.11px;
    line-height: 15px;
}

.spe .group-34 {
    position: absolute;
    width: 454px;
    height: 221px;
    top: 0;
    left: 55px;
}

.spe .text-wrapper-30 {
    position: absolute;
    width: 173px;
    top: 198px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    white-space: nowrap;
    cursor: pointer;
}

.spe .text-wrapper-31 {
    position: absolute;
    top: 145px;
    left: 1px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: -0.18px;
    line-height: 24px;
    cursor: pointer;
}

.spe .text-wrapper-32 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}